<header>
    <div class="container-header">
        <!-- LOGO -->
        <div class="logo-aplication">
            <img src="../../../assets/images/icon-logo.png" [routerLink]="['/home']">
        </div>
    </div>

    <nav class="nav-busqueda">
        <div>
            <button class="btn-busquedaPrincipal" [routerLink]="['/busqueda-principal-producto']">Busqueda
                general</button>
        </div>
        <div class="div-busqueda Gral color-div">
            <input id="searh" class="input-busqueda color-input" type="text" maxlength="100" #nombreProductoBuscar
                placeholder="Buscar productos" (keyup.enter)="buscarProductoNegocio()">
            <button class="m-top-left" (click)="buscarProductoNegocio()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </nav>

</header>

<section class="perfil_negocio">
    <div class="container-perfil_negocio">
        <div class="contenedor-aside">
            <aside class="aside-datos_negocio">
                <div class="contenido-img_perfil">
                    <figure>
                        <img src="{{imagenNegocio}}" *ngIf="imagenNegocio">
                        <img src="../../../assets/images/sin-imagen.png" *ngIf="imagenNegocio==null">

                    </figure>
                    <figcaption>
                        <h2 class="name_negocio" *ngIf="datosNegocio">{{datosNegocio.nombre}}</h2>
                    </figcaption>

                </div>
                <mat-accordion *ngIf="datosNegocio">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Ubicación
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <p><a class="a-angular">Localidad: {{datosNegocio.estadoL}}</a></p>
                        <p><a class="a-angular">Horario de servicio: {{datosNegocio.horario_ser}} </a></p>
                        <p><a class="a-angular">Teléfono:{{datosNegocio.telefono}} </a></p>
                        <p><a class="a-angular">Celular: {{datosNegocio.celular}}</a></p>
                        <p><a class="a-angular">Facebook: {{datosNegocio.facebook}}</a></p>
                    </mat-expansion-panel>

                </mat-accordion>

                <mat-accordion *ngIf="perfilEncargado">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Perfil
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <p><a class="a-angular">Nombre del responsable: {{perfilEncargado.nombre_responsable}}</a></p>
                        <p><a class="a-angular"
                                href="https://cedula.buholegal.com/{{perfilEncargado.cedula_profesional}}"
                                target="_blank">Cedula profesional: {{perfilEncargado.cedula_profesional}} </a></p>
                        <p><a class="a-angular">Especialización: {{perfilEncargado.especializacion}} </a></p>
                    </mat-expansion-panel>

                </mat-accordion>

            </aside>
        </div>


        <div class="contenedor-listP">
            <div class="title">
                <h1>Productos que ofrece</h1>
            </div>
            <hr>

            <div class="col-12 p-2 p-lg-1" *ngIf="listProductsAll">
                <ul class="l-product-listingP">
                    <div *ngFor="let lista of listProductsAll | paginate:page_size:page_number">
                        <app-tienda-ropa-article [article]="lista.data" [_idnegocio]="lista._id"
                            [_nameTableSearch]="lista.nameTable">

                        </app-tienda-ropa-article>
                    </div>
                </ul>


            </div>


            <!--Mostrar cuando no hay resultados de  la busqueda-->
            <div class="container search_Not_found mt-5" *ngIf="listProductsAll==null">
                <p class="n-resultados">No hay resultados que coincidan con tu búsqueda, busque más tarde gracias &nbsp;
                    <span class="span-busqueda">{{nombreProductoBuscando}} </span> </p>
            </div>

        </div>
    </div>

    <mat-paginator *ngIf="listProductsAll" class="mt-4" [length]="listProductsAll.length" [pageSize]="page_size"
        [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
    </mat-paginator>

</section>

<app-footer [mostrarT_C]="false"></app-footer>