<main class="containerForms">
    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'/negocio/lista-relojeria'" [tblName]="'relojeria'"> </app-nav-subheader>
    
    <section id="section_main">
        <app-lateral-admin></app-lateral-admin>

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_nombre_reloj" placeholder="Nombre del producto"
                        formControlName="nombre" #nombreproducto maxlength="50" (focus)="showNumber('nombre', true)"
                        (focusout)="showNumber('nombre', false)">
                    <label for="text_nombre_reloj">Nombre del producto</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreproducto.value.length}} / 50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_descrip_reloj" formControlName="descripcion" #descripcionP maxlength="300" (focus)="showNumber('descripcion', true)"
                        (focusout)="showNumber('descripcion', false)"></textarea>
                    <label for="text_descrip_reloj">Descripción</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcion"> {{descripcionP.value.length}} / 300</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Especificación"
                        id="text_especifi_reloj" formControlName="especificacion" #especificacionP maxlength="200" (focus)="showNumber('especificacion', true)"
                        (focusout)="showNumber('especificacion', false)"></textarea>
                    <label for="text_especifi_reloj">Especificación</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.especificacion"> {{especificacionP.value.length}} / 200</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_marca_reloj" placeholder="Marca"
                        formControlName="marca" #marcaP maxlength="50" (focus)="showNumber('marca', true)"
                        (focusout)="showNumber('marca', false)">
                    <label for="text_marca_reloj">Marca</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.marca"> {{marcaP.value.length}} / 50</span></div>

                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_modelo_reloj" placeholder="Modelo"
                        formControlName="modelo" #modeloP maxlength="50" (focus)="showNumber('modelo', true)"
                        (focusout)="showNumber('modelo', false)">
                    <label for="text_modelo_reloj">Modelo</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.modelo"> {{modeloP.value.length}} / 50</span></div>

                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_caratula_reloj" placeholder="Caratula"
                        formControlName="caratula" #caratulaP maxlength="50" (focus)="showNumber('caratula', true)"
                        (focusout)="showNumber('caratula', false)">
                    <label for="text_caratula_reloj">Caratula</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.caratula"> {{caratulaP.value.length}} / 50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_color_reloj" placeholder="Color"
                        formControlName="color" #colorP maxlength="50" (focus)="showNumber('color', true)"
                        (focusout)="showNumber('color', false)">
                    <label for="text_color_reloj">Color</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.color"> {{colorP.value.length}} / 50</span></div>
                </div>

                <label>Seleciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza">Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>

                <label class="form-label" style="margin-bottom: 3px; margin-left: 15px;">Reloj para</label>
                <div class="container-linea-n">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked1" name="genero" value="hombre"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked1">
                            Hombre
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked2" name="genero" value="Mujer"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked2">
                            Mujer
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked3" name="genero" value="Unicex"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked3">
                            Unicex
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked4" name="genero" value="Hogar"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked4">
                            Hogar
                        </label>
                    </div>
                </div>


                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_funcionamiento_reloj" placeholder="Funcionamiento"
                        formControlName="funcionamiento" #funcionamientoP maxlength="100" (focus)="showNumber('funcionamiento', true)"
                        (focusout)="showNumber('funcionamiento', false)">
                    <label for="text_funcionamiento_reloj">Funcionamiento</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.funcionamiento"> {{funcionamientoP.value.length}} / 100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_garantia_reloj" placeholder="Garantía"
                        formControlName="garantia" #garantia maxlength="100" (focus)="showNumber('garantia', true)"
                        (focusout)="showNumber('garantia', false)">
                    <label for="text_garantia_reloj">Garantía</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.garantia"> {{garantia.value.length}} / 100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_Existencia_aba" placeholder="Existencia"
                        name="existencia" formControlName="existencia" #existenciaP maxlength="7" (focus)="showNumber('existencia', true)"
                        (focusout)="showNumber('existencia', false)">
                    <label for="text_Existencia_aba">Existencia</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.existencia"> {{existenciaP.value.length}} / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10"/>
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span> {{precio_anteriorP.value.length}} / 10</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio" name="precio"
                            formControlName="precio" #precioP maxlength="10"/>
                        <label for="text_Precio_aba">Precio</label>
                        <div  class="carateres-max"> <span> {{precioP.value.length}} / 10</span></div>
                    </div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <input type="submit" value="Actualizar" class="btn btnAceptar"
                        [disabled]="validacionForm.invalid" />
                </div>

            </form>
        </div>
    </section>
    <div class="clearfix"></div>
</main>

<app-footer></app-footer>