<li class="l-product card-list-product ">
    <a>
        <div class="l-plp-card-container">
            <figure class="card-list-product l-product-list">
                <div class="l-image_container">
                    <img src="../../../assets/images/rojo.jpg">
                </div>

                <figcaption class="l-figure_figcaption">
                    <article class="d-flex">
                        <h5 class="title-product">{{article.data.nombre}}</h5>
                    </article>
                    <p class="price"><span>$</span>{{article.data.precio}}</p>
                    <div class="paleta-color">
                        <ul>
                            <li>
                                <span class="color">{{article}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="l-p-ratings">
                        <ul>
                            <li class="raiting">
                                <i><img src="../../../assets/images/search.svg"></i>
                            </li>
                        </ul>
                    </div>
                </figcaption>
            </figure>
        </div>

    </a>
</li>
