<li class="l-product card-list-product">
    <a>
        <div class="l-plp-card-container" (click)="mostrarDetalleProducto()">

            <figure class="card-list-product l-product-list">

                <div class="l-image_container" *ngIf="_imagen">
                    <img src={{_imagen}}>
                </div>
                <div class="l-image_container" *ngIf="_imagen==null">
                    <img src="../../../assets/images/sin-imagen.png">
                </div>


                <figcaption class="l-figure_figcaption">
                    <article class="d-flex">
                        <h5 class="title-product">{{article.nombre}}</h5>
                    </article>
                    <p class="price">{{article.precio | currency:'$/. '}}</p>
                    <!--<div class="paleta-color">
                        <ul>
                            <li>
                                <span class="color">Azul</span>
                            </li>
                        </ul>
                    </div>-->
                    <div class="l-p-ratings">
                        <!--CREACION DE ESTRELLAS-->
                        <button class="btn-star" *ngFor="let r of ratingArr; index as i">
                            <mat-icon>
                                {{returnStart(i)}}
                            </mat-icon>
                        </button>
                    </div>
                </figcaption>
            </figure>
        </div>

    </a>
</li>