<div class="container-formularios">

    <form class="mid-form-negocio">

        <h1 class="subheader">AGREGAR PRODUCTO</h1>

        <div class="contenedor-img">

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_nomProd_ferre" placeholder="Nombre del producto">
            <label for="i_nomProd_ferre">Nombre del producto</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                id="text_description_ferre"></textarea>
            <label for="text_description_ferre">Descripción</label>
        </div>
        
        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Especificación"
                id="text_Spec_ferre"></textarea>
            <label for="text_Spec_ferre">Especificación</label>
        </div>
        
        <div class="form-floating mb-3">
            <select id="select_UV_ferre" class="form-select form-select-sm colorSeleccion"
                aria-label=".form-select-sm example">
                <option selected>Unidad de venta</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Uso"
                id="text_Uso_ferre"></textarea>
            <label for="text_Uso_ferre">Uso</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Incluye_ferre" placeholder="Incluye">
            <label for="i_Incluye_ferre">Incluye</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Marca_ferre" placeholder="Marca">
            <label for="i_Marca_ferre">Marca</label>

        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Modelo_ferre" placeholder="Modelo">
            <label for="i_Modelo_ferre">Modelo</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Peso_ferre" placeholder="Peso">
            <label for="i_Peso_ferre">Peso</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Medidas_ferre" placeholder="Medidas">
            <label for="i_Medidas_ferre">Medidas</label>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Existencia_ferre" placeholder="Existencia">
                <label for="i_Existencia_ferre">Existencia</label>

            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Precio_ferre" placeholder="Precio">
                <label for="i_Precio_ferre">Precio</label>

            </div>
        </div>


        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>

        <div class="group-buttons">
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnAceptar">Guardar</button>
        </div>
    </form>
</div>
