.container-header{
    width: 100%;
    background: var(--color_header);
    height: 70px;
    display: flex;
    justify-content: center;
    
}

.logo-aplication{ 
    width: 120px; 
    height: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.logo-aplication img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 4px;

}

.tamanio-mid-form{
    width: 40%;
    margin-top: 10%;
}

.btn{
    width: 30% !important;
}

.m_h{
    min-height: 600px;
    margin-bottom: 10%;

}

.a-terminos_y_condiciones{
    background: none !important;
    color: white;
    cursor: pointer;
}
.cursor{
    cursor: pointer !important;
}


/*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:568px){
    .tamanio-mid-form{
        width: 90%;
        
    } 

    .btn{
        width: 35% !important;
    }

    .tamanio-mid-form{
        margin-top: 30%;
    }

    
    .m_h{
        margin-bottom: 30%;
    
    }
}

/*estilos para contraseña*/
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }