.container-header{
    width: 100%;
    background: var(--color_header);
    height: 70px;
    display: flex;
    justify-content: center;
    
}

.logo-aplication{ 
    width: 120px; 
    height: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.logo-aplication img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 4px;

}

.tamanio-mid-form{
    width: 40%;
    margin-top: 10%;
}

.btn{
    width: 30% !important;
}

.m_h{
    min-height: 500px;

}

.a-terminos_y_condiciones{
    background: none !important;
    color: white;
    cursor: pointer;
}
.cursor{
    cursor: pointer !important;
}


/*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:568px){
    .tamanio-mid-form{
        width: 90%;
        
    } 

    .btn{
        width: 35% !important;
    }
    

}