<div class="contenedor-detalle">
    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Detalle :</p>
            <p class="valueproducto">{{datos.detalle}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Tipo de ropa :</p>
            <p class="valueproducto">{{datos.tipo_ropa}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Género :</p>
            <p class="valueproducto">{{datos.genero}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
      
    </div>

    <!--

        {
            "descripcion" : "FJKJDFK",
            "detalle" : "KJFDKJF",
            "vistas" : 0,
            "fecha_inicio" : ISODate("2021-08-01T05:00:00.000Z"),
            "fecha_fin" : ISODate("2021-08-01T05:00:00.000Z"),
            "estado" : true,
            "_id" : ObjectId("610b09fe827b845e60e17045"),
            "imagen" : [ 
                {
                    "_id" : ObjectId("610b0aa1827b845e60e1704c"),
                    "ruta" : "1628113569262_playera polo.jpg"
                }, 
                {
                    "_id" : ObjectId("610b0aab827b845e60e1704d"),
                    "ruta" : "1628113579057_playera polo1.jpg"
                }
            ],
            "nombre" : "PLAYERA POLO",
            "marca" : "POLO",
            "tipo_ropa" : "MANGA CORTA",
            "genero" : "Hombre",
            "tallas" : [ 
                {
                    "_id" : ObjectId("610b09fe827b845e60e17047"),
                    "talla" : "XL"
                }, 
                {
                    "_id" : ObjectId("610b09fe827b845e60e17048"),
                    "talla" : "L"
                }
            ],
            "colores" : [ 
                {
                    "_id" : ObjectId("610b09fe827b845e60e17049"),
                    "color" : "Azul"
                }, 
                {
                    "_id" : ObjectId("610b09fe827b845e60e1704a"),
                    "color" : "Rojo"
                }, 
                {
                    "_id" : ObjectId("610b09fe827b845e60e1704b"),
                    "color" : "Verder"
                }
            ],
            "unidadventa" : "Pieza",
            "existencia" : 100,
            "precio" : 450,
            "precio_anterior" : 500,
            "fecha" : ISODate("2021-08-04T21:46:32.572Z"),
            "comentarios" : []
        }
    -->
</div>