<div class="contenedor-detalle">

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Detalle :</p>
            <p class="valueproducto">{{datos.detalle}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Tipo de ropa :</p>
            <p class="valueproducto">{{datos.tipo_ropa}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Género :</p>
            <p class="valueproducto">{{datos.genero}}</p>
        </div>
    </div>
</div>