<main class="containerForms">

    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'/negocio/lista-moto'" [tblName]="'moto'"> </app-nav-subheader>
    
    <section id="section_main">
        <app-lateral-admin></app-lateral-admin>

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_nomProd_moto" placeholder="Nombre del producto"
                        formControlName="nombre" #nombreproducto maxlength="50" (focus)="showNumber('nombre', true)"
                        (focusout)="showNumber('nombre', false)">
                    <label for="i_nomProd_moto">Nombre del producto</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreproducto.value.length}} / 50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Desc_Motor_moto" placeholder="Descripción del Motor"
                        formControlName="descrip_motor" #descripcionP maxlength="300" (focus)="showNumber('descrip_motor', true)"
                        (focusout)="showNumber('descrip_motor', false)">
                    <label for="i_Desc_Motor_moto">Descripción del Motor</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descrip_motor"> {{descripcionP.value.length}} / 300</span></div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Marca_moto" placeholder="Marca"
                            formControlName="marca" #marcaP maxlength="50" (focus)="showNumber('marca', true)"
                            (focusout)="showNumber('marca', false)">
                        <label for="i_Marca_moto">Marca</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.marca"> {{marcaP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Transmision_moto" placeholder="Transmisión"
                            formControlName="transmision" #transmisionP maxlength="50" (focus)="showNumber('transmision', true)"
                            (focusout)="showNumber('transmision', false)">
                        <label for="i_Transmision_moto">Transmisión</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.transmision"> {{transmisionP.value.length}} / 50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_PotenciaMax_moto" placeholder="Potencia Máxima"
                            formControlName="potencia_max" #potencia_maxP maxlength="50" (focus)="showNumber('potencia_max', true)"
                            (focusout)="showNumber('potencia_max', false)">
                        <label for="i_PotenciaMax_moto">Potencia Máxima</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.potencia_max"> {{potencia_maxP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_TorqueMax_moto" placeholder="Torque Máximo"
                            formControlName="torque_max" #torque_maxP maxlength="50" (focus)="showNumber('torque_max', true)"
                            (focusout)="showNumber('torque_max', false)">
                        <label for="i_TorqueMax_moto">Torque Máximo</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.torque_max"> {{torque_maxP.value.length}} / 50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_PesoMax_moto" placeholder="Peso Máximo de carga"
                            formControlName="peso_maxCarga" #peso_maxCargaP maxlength="50" (focus)="showNumber('peso_maxCarga', true)"
                            (focusout)="showNumber('peso_maxCarga', false)">
                        <label for="i_PesoMax_moto">Peso Máximo de carga</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.peso_maxCarga"> {{peso_maxCargaP.value.length}} / 50</span></div>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Peso_moto" placeholder="Peso de la moto"
                            formControlName="peso_moto" #peso_motoP maxlength="50" (focus)="showNumber('peso_moto', true)"
                            (focusout)="showNumber('peso_moto', false)">
                        <label for="i_Peso_moto">Peso de la moto</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.peso_moto"> {{peso_motoP.value.length}} / 50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Refrigeracion_moto" placeholder="Refrigeración"
                            formControlName="refrigeracion" #refrigeracionP maxlength="50" (focus)="showNumber('refrigeracion', true)"
                            (focusout)="showNumber('refrigeracion', false)">
                        <label for="i_Refrigeracion_moto">Refrigeración</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.refrigeracion"> {{refrigeracionP.value.length}} / 50</span></div>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Bateria_moto" placeholder="Bateria"
                            formControlName="bateria" #bateriaP maxlength="50" (focus)="showNumber('bateria', true)"
                            (focusout)="showNumber('bateria', false)">
                        <label for="i_Bateria_moto">Bateria</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.bateria"> {{bateriaP.value.length}} / 50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Suspe_Trasera_moto"
                            placeholder="Suspensión trasera" formControlName="suspen_Trasera" #suspen_TraseraP
                            maxlength="50" (focus)="showNumber('suspen_Trasera', true)"
                            (focusout)="showNumber('suspen_Trasera', false)">
                        <label for="i_Suspe_Trasera_moto">Suspensión trasera</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.suspen_Trasera"> {{suspen_TraseraP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Suspe_Delan_moto"
                            placeholder="Suspensión delantera" formControlName="suspen_delantera" #suspen_delanteraP
                            maxlength="50" (focus)="showNumber('suspen_delantera', true)"
                            (focusout)="showNumber('suspen_delantera', false)">
                        <label for="i_Suspe_Delan_moto">Suspensión delantera</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.suspen_delantera"> {{suspen_delanteraP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Llanta_Tras_moto" placeholder="Llanta trasera"
                            formControlName="llanta_trasera" #llanta_traseraP maxlength="50" (focus)="showNumber('llanta_trasera', true)"
                            (focusout)="showNumber('llanta_trasera', false)">
                        <label for="i_Llanta_Tras_moto">Llanta trasera</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.llanta_trasera"> {{llanta_traseraP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Llanta_Delan_moto" placeholder="Llanta delantera"
                            formControlName="llanta_delantera" #llanta_delanteraP maxlength="50" (focus)="showNumber('llanta_delantera', true)"
                            (focusout)="showNumber('llanta_delantera', false)">
                        <label for="i_Llanta_Delan_moto">Llanta delantera</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.llanta_delantera"> {{llanta_delanteraP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Ancho_moto" placeholder="Ancho"
                            formControlName="ancho" #anchoP maxlength="50" (focus)="showNumber('ancho', true)"
                            (focusout)="showNumber('ancho', false)">
                        <label for="i_Ancho_moto">Ancho</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.ancho"> {{anchoP.value.length}} / 50</span></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Altura_moto" placeholder="Altura"
                            formControlName="altura" #alturaP maxlength="50" (focus)="showNumber('altura', true)"
                            (focusout)="showNumber('altura', false)">
                        <label for="i_Altura_moto">Altura</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.altura"> {{alturaP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_A_Modelo_moto" placeholder="Año del modelo"
                            formControlName="anio_modelo" #anio_modeloP maxlength="50" (focus)="showNumber('anio_modelo', true)"
                            (focusout)="showNumber('anio_modelo', false)">
                        <label for="i_A_Modelo_moto">Año del modelo</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.anio_modelo"> {{anio_modeloP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_CapacidadTanq_moto"
                            placeholder="Capacidad del tanque de gasolina" formControlName="capacidad_tanque"
                            #capacidad_tanqueP maxlength="50" (focus)="showNumber('capacidad_tanque', true)"
                            (focusout)="showNumber('capacidad_tanque', false)">
                        <label for="i_CapacidadTanq_moto">Capacidad del tanque de gasolina</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.capacidad_tanque"> {{capacidad_tanqueP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Cilindraje_moto" placeholder="Cilindraje"
                            formControlName="cilindraje" #cilindrajeP maxlength="50" (focus)="showNumber('cilindraje', true)"
                            (focusout)="showNumber('cilindraje', false)">
                        <label for="i_Cilindraje_moto">Cilindraje</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.cilindraje"> {{cilindrajeP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Color_moto" placeholder="Color"
                            formControlName="color" #colorP maxlength="50" (focus)="showNumber('color', true)"
                            (focusout)="showNumber('color', false)">
                        <label for="i_Color_moto">Color</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.color"> {{colorP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Existencia_moto" placeholder="Existencia"
                        formControlName="existencia" #existenciaP maxlength="7" (focus)="showNumber('existencia', true)"
                        (focusout)="showNumber('existencia', false)">
                    <label for="i_Existencia_moto">Existencia</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.existencia"> {{existenciaP.value.length}} / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10" (focus)="showNumber('precio_anterior', true)"
                            (focusout)="showNumber('precio_anterior', false)">
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.precio_anterior"> {{precio_anteriorP.value.length}} / 10</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Precio_moto" placeholder="Precio"
                            formControlName="precio" #precioP maxlength="10" (focus)="showNumber('precio', true)"
                            (focusout)="showNumber('precio', false)">
                        <label for="i_Precio_moto">Precio</label>
                        <div  class="carateres-max"> <span *ngIf="listaDatosMostrar.precio"> {{precioP.value.length}} / 10</span></div>
                        
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Garantia_moto" placeholder="Garantía"
                        formControlName="garantia" #garantiaP maxlength="100">
                    <label for="i_Garantia_moto">Garantía</label>
                    <div  class="carateres-max"> <span> {{garantiaP.value.length}} / 100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" style="height: 100px !important;"
                        placeholder="Otra información" id="text_O_informacion_moto"
                        formControlName="otra_inf" #otra_infP maxlength="300"></textarea>
                    <label for="text_O_informacion_moto">Otra información</label>
                    <div  class="carateres-max"> <span> {{otra_infP.value.length}} / 300</span></div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <input type="submit" value="Actualizar" class="btn btnAceptar"
                        [disabled]="validacionForm.invalid" />
                </div>

            </form>
        </div>
    </section>
    <div class="clearfix"></div>
    <ngx-ui-loader></ngx-ui-loader>
</main>

<app-footer [mostrarT_C]="false"></app-footer>