<section class="section_main m-h_Admin">

    <div class="container-formularioDatosNegocio">

        <form class="mid-form-negocio " [formGroup]="validacionForm">

            <h3 class="subheader">{{titlePage}}</h3>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_nombre_user" placeholder="Nombre del negocio"
                    formControlName="nombre" #nombreL maxlength="30" (focus)="showNumber('nombre', true)"
                    (focusout)="showNumber('nombre', false)">
                <label for="text_nombre_user">Nombre de usuario</label>
                <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreL.value.length}} / 30</span>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txt_correo" placeholder="Correo" formControlName="correo"
                    name="Correo" #correoL maxlength="40" (focus)="showNumber('correo', true)"
                    (focusout)="showNumber('correo', false)">
                <label for="txt_correo">Correo</label>
                <div class="carateres-max"><span *ngIf="listaDatosMostrar.correo"> {{correoL.value.length}} / 40</span>
                </div>
            </div>

            <div class="group-buttons">
                <input type="submit" value="Actualizar" class="btn btnAceptar" [disabled]="validacionForm.invalid"
                    (click)="onSubmitEdit()" />
            </div>

        </form>
        <form class="mid-form-negocio" [formGroup]="validacionFormPassw">

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="passwordOld" placeholder="Escribe la contraseña actual"
                    formControlName="passwordOld" name="passwordOld" #passwordOld maxlength="15"
                    (focus)="showPassword('passwordOld', true)" (focusout)="showPassword('passwordOld', false)">
                <label for="passwordOld">Escribe la contraseña actual</label>
                <div class="carateres-max"><span *ngIf="mostrarPassword.passwordOld"> {{passwordOld.value.length}} /
                        15</span></div>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="passwordNew" placeholder="Escribe la contraseña nueva"
                    formControlName="passwordNew" name="passwordNew" #passwordNew maxlength="15"
                    (focus)="showPassword('passwordNew', true)" (focusout)="showPassword('passwordNew', false)">
                <label for="passwordNew">Escribe la contraseña nueva</label>
                <div class="carateres-max"><span *ngIf="mostrarPassword.passwordNew"> {{passwordNew.value.length}} /
                        15</span></div>
            </div>
            <div class="group-buttons">
                <input type="submit" value="Cambiar la contraseña" class="btn btnAceptar tamanio-btn"
                    [disabled]="validacionFormPassw.invalid" (click)="UpdatePassword()" />
            </div>
        </form>

    </div>
</section>
<div class="clearfix"></div>
