<div class="container content">

  <div class="container-form-card mt-5 contenedor-form">
    <h3 class="h1 mt-5 mb-4">Pago</h3>
    <form class="form-card tamanio-form" novalidate (ngSubmit)="createToken()" [formGroup]="formGroupValidated">
      <input type="text" class="field mb-3" formControlName="name" placeholder="Nombre del cliente">
      <input type="text" class="field mb-3" formControlName="description" placeholder="Descripción del pago">
      <input type="number" class="field mb-3" formControlName="monto" placeholder="Monto a pagar">

      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions" class="field"></ngx-stripe-card>

      <button class="btn-pagar mt-4" type="submit" [disabled]="formGroupValidated.invalid || guardandoPago==true">
        Pagar
      </button>

      <div *ngIf="errorStripe"><span>{{errorStripe}}</span></div>
    </form>
  </div>
  
  <ngx-ui-loader></ngx-ui-loader>

</div>

