<main>
    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'tbl-plancha'" [tblName]="'plancha'"> </app-nav-subheader>
    <app-lateral-admin></app-lateral-admin>

    <section id="section_main">

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>
            
            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre del producto"
                        formControlName="nombre" name="nombre">
                    <label for="nombre">Nombre del producto</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_description_aba" name="descripcion" formControlName="descripcion"></textarea>
                    <label for="text_description_aba">Descripción</label>
                </div>

                <label>Seleciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza">Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_marca_planc" placeholder="Marca"
                            formControlName="marca">
                        <label for="text_marca_planc">Marca</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_color_planc" placeholder="color"
                            formControlName="color">
                        <label for="text_color_planc">color</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_potencia_planc" placeholder="Potencia"
                            formControlName="potencia">
                        <label for="text_potencia_planc">Potencia</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_medidas_planc" placeholder="Medidas"
                            formControlName="medidas">
                        <label for="text_medidas_planc">Medidas</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_peso_planc" placeholder="Peso del producto"
                            formControlName="peso">
                        <label for="text_peso_planc">Peso del producto</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_tipo_s_planc" placeholder="Tipo suela"
                            formControlName="tipo_suela">
                        <label for="text_tipo_s_planc">Tipo suela</label>
                    </div>

                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Garantia" id="text_garantia_planc"
                        formControlName="garantia"></textarea>
                    <label for="text_garantia_planc">Garantia</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                        id="text_otra_inf_licuadora" formControlName="otra_inf"></textarea>
                    <label for="text_otra_inf_licuadora">Otra información</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_Existencia_aba" placeholder="Existencia"
                        name="existencia" formControlName="existencia">
                    <label for="text_Existencia_aba">Existencia</label>
                </div>

                 <!--FECHAS DE PROMOCION-->
                 <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">
                   <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" />
                        <label for="text_Precio_aba">Precio anterior</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio" name="precio"
                            formControlName="precio" />
                        <label for="text_Precio_aba">Precio</label>
                    </div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Actualizar" class="btn btnAceptar"
                        [disabled]="validacionForm.invalid" />
                </div>

            </form>
        </div>
    </section>
    <div class="clearfix"></div>
</main>

<app-footer></app-footer>