<main class="containerForms">
    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'/negocio/lista-calzado'" [tblName]="'calzado'"> </app-nav-subheader>
    
    <section id="section_main">
        <app-lateral-admin></app-lateral-admin>

        <div class="container-formularios">
            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <!--[disabled]="!selectedFiles" CAMBIO-->
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>
            <form class="mid-form-negocio" [formGroup]="validacionForm">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_nombre_zapat" placeholder="Nombre del producto"
                        formControlName="nombre" #nombreproducto maxlength="100" (focus)="showNumber('nombre', true)"
                        (focusout)="showNumber('nombre', false)">
                    <label for="text_nombre_zapat">Nombre del producto</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreproducto.value.length}} /
                            100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_descripcion_zapat" formControlName="descripcion" #descripcionP maxlength="300"
                        (focus)="showNumber('descripcion', true)"
                        (focusout)="showNumber('descripcion', false)"></textarea>
                    <label for="text_descripcion_zapat">Descripción</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcion">
                            {{descripcionP.value.length}} / 300</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_tipo_zapat" placeholder="Tipo de calzado"
                        formControlName="tipo_calzado" #tipo_calzadoP maxlength="50"
                        (focus)="showNumber('tipo_calzado', true)" (focusout)="showNumber('tipo_calzado', false)">
                    <label for="text_tipo_zapat">Tipo de calzado</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.tipo_calzado">
                            {{tipo_calzadoP.value.length}} / 50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Detalles"
                        id="text_detalle_zapat" formControlName="detalle" #detalleP maxlength="200"
                        (focus)="showNumber('detalle', true)" (focusout)="showNumber('detalle', false)"></textarea>
                    <label for="text_detalle_zapat">Detalles</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.detalle"> {{detalleP.value.length}} /
                            200</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_marca_zapat" placeholder="Marca"
                        formControlName="marca" #marcaP maxlength="50" (focus)="showNumber('marca', true)"
                        (focusout)="showNumber('marca', false)">
                    <label for="text_marca_zapat">Marca</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.marca"> {{marcaP.value.length}} /
                            50</span></div>
                </div>

                <label class="mb-2">Selecciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza">Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>

                <label class="form-label mb-2">Calzado para:</label>
                <div class="container-linea-n">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked1" name="genero" value="Hombre"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked1">
                            Hombre
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked2" name="genero" value="Mujer"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked2">
                            Mujer
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked3" name="genero" value="Niños"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked3">
                            Niños
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked4" name="genero" value="Niñas"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked4">
                            Niñas
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked5" name="genero" value="Bebes"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked5">
                            Bebes
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked6" name="genero" value="Unicex"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked6">
                            Unicex
                        </label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_garantia_zapat" placeholder="Garantía"
                        formControlName="garantia" #garantiaP maxlength="100" (focus)="showNumber('garantia', true)"
                        (focusout)="showNumber('garantia', false)">
                    <label for="text_garantia_zapat">Garantía</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.garantia"> {{garantiaP.value.length}} /
                            100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Otra información"
                        id="text_otra_inf_vela" formControlName="otra_inf" #otra_infP maxlength="200"
                        (focus)="showNumber('otra_inf', true)" (focusout)="showNumber('otra_inf', false)"></textarea>
                    <label for="text_otra_inf_vela">Otra información</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.otra_inf"> {{otra_infP.value.length}} /
                            200</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_Existencia_aba" placeholder="Existencia"
                        name="existencia" formControlName="existencia" #existenciaP maxlength="7"
                        (focus)="showNumber('existencia', true)" (focusout)="showNumber('existencia', false)">
                    <label for="text_Existencia_aba">Existencia</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.existencia"> {{existenciaP.value.length}}
                            / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10"
                            (focus)="showNumber('precio_anterior', true)"
                            (focusout)="showNumber('precio_anterior', false)" />
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span
                                *ngIf="listaDatosMostrar.precio_anterior">{{precio_anteriorP.value.length}} / 10</span>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio" name="precio"
                            formControlName="precio" #precioP maxlength="10" (focus)="showNumber('precio', true)"
                            (focusout)="showNumber('precio', false)" />
                        <label for="text_Precio_aba">Precio</label>
                        <div class="carateres-max"> <span *ngIf="listaDatosMostrar.precio"> {{precioP.value.length}} /
                                10</span></div>
                    </div>
                </div>


                <!--TALLAS DEL PRODUCTO-->
                <div class="alert alert-info" role="alert" *ngIf="messageForEmptyTalla">
                    {{messageForEmptyTalla}}
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control input-talla" id="text_talla_ropa" placeholder="Talla"
                        #txtTalla formControlName="talla" maxlength="15">
                    <label for="text_talla_ropa">Talla</label>
                    
                    <button type="button" class="btnAgregarT btn-agregar position-div"
                        (click)="addTall()">Agregar</button>

                    <div class="contenedor-tallas position-div" #contenedorTallas>
                        <!--SE CREAN LOS BOTONES-->
                        <button class="btn-tallas" (click)="deleteTallaMongodb(talla)"
                            *ngFor="let talla of listaTallas">
                            {{talla['talla']}}
                        </button>
                    </div>

                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>

                <!--COLOR DEL PRODUCTO-->

                <div class="alert alert-info" role="alert" *ngIf="messageForEmptyColor">
                    {{messageForEmptyColor}}
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control input-talla" id="text_color_ropa" placeholder="Color"
                        #txtColor formControlName="color" maxlength="50">
                    <label for="text_color_ropa">Color</label>
                    

                    <button type="button" class="btnAgregarT btn-agregar position-div"
                        (click)="addColor()">Agregar</button>

                    <div class="contenedor-tallas position-div" #contenedorColores>
                        <!--SE CREAN LOS BOTONES-->
                        <button class="btn-tallas" (click)=" deleteColorMongodb(color)"
                            *ngFor="let color of listaColores">
                            {{color['color']}}
                        </button>
                    </div>

                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid"
                        (click)="saveOrUpdate()" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <input type="submit" value="Actualizar" class="btn btnAceptar" [disabled]="validacionForm.invalid"
                        (click)="saveOrUpdate()" />
                </div>
            </form>
        </div>
    </section>
    <div class="clearfix"></div>
    <ngx-ui-loader></ngx-ui-loader>
</main>

<app-footer [mostrarT_C]="false"></app-footer>