.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor p{
    margin-bottom: 0px !important;
}
.a-terminos_y_condiciones{
    background: none !important;
    color: white;
    cursor: pointer;
}
.cursor{
    cursor: pointer !important;
}
