<div class="contenedor-detalle">
    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Especificación :</p>
            <p class="valueproducto">{{datos.especificacion}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Uso :</p>
            <p class="valueproducto">{{datos.uso}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Incluye :</p>
            <p class="valueproducto">{{datos.incluye}}</p>
        </div>
    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Modelo :</p>
            <p class="valueproducto">{{datos.modelo}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Peso :</p>
            <p class="valueproducto">{{datos.peso}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Medidas del producto :</p>
            <p class="valueproducto">{{datos.medidas}}</p>
        </div>
    </div>
</div>