<div class="contenedor-detalle">
    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Tipo de pantalla :</p>
            <p class="valueproducto">{{datos.tipoPantalla}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Seguridad :</p>
            <p class="valueproducto">{{datos.seguridad}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Modelo :</p>
            <p class="valueproducto">{{datos.modelo}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Sistema operativo :</p>
            <p class="valueproducto">{{datos.sistemaOperativo}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Altavoces :</p>
            <p class="valueproducto">{{datos.altavoces}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Camara frontal :</p>
            <p class="valueproducto">{{datos.camaraF}}</p>
        </div>

    </div>


    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Camara trasera :</p>
            <p class="valueproducto">{{datos.camaraT}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Tamaño de la pantalla :</p>
            <p class="valueproducto">{{datos.tamanioPantalla}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Resolución :</p>
            <p class="valueproducto">{{datos.resolucion}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Bateria :</p>
            <p class="valueproducto">{{datos.bateria}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Memoria Ram :</p>
            <p class="valueproducto">{{datos.memoriaRam}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Bluetooth :</p>
            <p class="valueproducto">{{datos.bluetooth}}</p>
        </div>

    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Interfaz de carga :</p>
            <p class="valueproducto">{{datos.interfazCarga}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Almacenamiento :</p>
            <p class="valueproducto">{{datos.almacenamiento}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Procesador :</p>
            <p class="valueproducto">{{datos.procesador}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Garantia :</p>
            <p class="valueproducto">{{datos.garantia}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Otra información :</p>
            <p class="valueproducto">{{datos.otra_inf}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
    </div>

</div>