<main>

    <app-header></app-header>
       
    <section id="section_main">
        <app-lateral-admin></app-lateral-admin>

        <div class="container-formularios">
            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>


            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)=" onSubmit()">

                <h3 class="subheader">PERFIL DEL ADMINISTRADOR </h3>

                <label class="mb-2">Selecciona el tipo de servicio</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="tipo_servicio" formControlName="tipo_servicio">
                        <option value="Servicio1">Servicio1</option>
                        <option value="Servicio2">Servicio2</option>
                        <option value="Servicio3">SErvicio3</option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_resp_perfil" placeholder="Nombre del responsable"
                        formControlName="nombre_responsable" #nombre_responsableP maxlength="50" (focus)="showNumber('nombre_responsable', true)"
                        (focusout)="showNumber('nombre_responsable', false)">
                    <label for="text_resp_perfil">Nombre completo del responsable</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre_responsable"> {{nombre_responsableP.value.length}} / 50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_cedula_perfil" placeholder="Cédula profesional"
                        formControlName="cedula_profesional" #cedula_profesionalP maxlength="50" (focus)="showNumber('cedula_profesional', true)"
                        (focusout)="showNumber('cedula_profesional', false)">
                    <label for="text_cedula_perfil">Cédula profesional</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.cedula_profesional"> {{cedula_profesionalP.value.length}} / 50</span></div>
                </div>


                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_espec_perfil" placeholder="Especialización"
                        formControlName="especializacion" #especializacionP maxlength="50" (focus)="showNumber('especializacion', true)"
                        (focusout)="showNumber('especializacion', false)">
                    <label for="text_espec_perfil">Especialización</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.especializacion"> {{especializacionP.value.length}} / 50</span></div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <button type="button" class="btn btnCancelar" (click) = "deletePerfil()">Eliminar perfil</button>
                    <input type="submit" value="Actualizar" class="btn btnAceptar"
                        [disabled]="validacionForm.invalid" />
                </div>
            </form>

         <!--
             <a href="https://cedula.buholegal.com/6887862/">Número de cedula</a>    
         --> 
        </div>
    </section>
</main>

<app-footer></app-footer>