
.container-header{
    width: 100%;
    background: var(--color_header);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


/*BOTON PARA INICIAR SESION*/
.btn-login{
    display: none;
}

.logo-aplication{ 
    width: 120px; 
    height: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.logo-aplication img{
    width: 110px;
    height: 60px;
    cursor: pointer;
    padding: 4px;

}
.nav-busqueda{
    width: 100%;
    display: flex;
    height: 50px;
    background: #F5B041;
    justify-content: space-between;
}
.contenedor{
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-negocio{
    color: black;
    align-items: center;
    border: 1px solid #ebebeb !important;
    cursor: pointer !important;
    min-width: 8rem;
    padding: 5px;
    background: none;
    margin-right: 10px;

}
.search-negocio:hover {
    background-color: transparent;
    cursor: pointer !important;
}
.div_busqueda{ 
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    
}
.div_busqueda img{
    cursor: pointer;    
}

.div_busqueda button{
    width: 30px; 
    background: none;
    text-decoration: none !important;
    outline:none !important;
    border: none !important; 
    padding: 3px;  
}

.gral{
    width: 70% !important;
    height: 40px;
    border-radius: 5px !important;
    padding: 0px !important;

}
.color-div{
    background: var(--color_white);
}

.form-select {
 border-radius: 0 !important;
}

button, select:focus {
   border: none;
}

.input-busqueda{
    width: 100%;
    height: 30px;
    border: none !important;
    text-decoration: none !important;
    text-indent: 8px;
    font-size: 14px;  
}
.input-busqueda:focus {
    border-color: var(--color_header) ;
    outline: 0;
}

.m-top-left{
    margin-top: 5px; 
}

/*CONTENEDOR SELECT -----*/
.all_departamentos{
    width: auto;
    height: 100%;
}

.a-header-iniciarsesion{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.btn-logueo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
}
.btn-block{
    margin: 5px;
    margin-left: 10px;
    
}

.btn-iniciarSesion {
    color: black;
    align-items: center;
    border: 1px solid #ebebeb;
    cursor: pointer;
    min-width: 8rem;
    padding: 5px;
    background: none;
    margin-right: 10px;
}

.btn-iniciarSesion:hover {
    background-color: transparent;
}

.btn-secondary {
  background:none !important;
  border: none !important;
}

.m-left{
    margin-right: 10px;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    background-color: none !important;
    border-color: none !important;
    box-shadow: none !important;
}

a{
    background: none !important;
}
a:hover{
    color: black !important;
    background: #f1f0f0 !important;
}


/*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:568px){
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor-logo{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor{
        width: 100%;
    }
    .gral{
        width: 95% !important;
    }
    .btn-logueo{
        display: none;
    }

    .btn-login{
        display: block;
        background: none;
        border: none;
        margin-right: 20px !important;
    }


}
