<div class="container-formularios">

    <form class="mid-form-negocio">

        <h1 class="subheader">AGREGAR PRODUCTO</h1>

        <div class="contenedor-img">

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_nomProd_cama" placeholder="Nombre del producto">
            <label for="i_nomProd_cama">Nombre del producto</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                id="text_description_cama"></textarea>
            <label for="text_description_cama">Descripción</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_MateriaRelleno_cama" placeholder="Material de relleno">
            <label for="i_MateriaRelleno_cama">Material de relleno</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_T_colchon_cama" placeholder="Tipo de conchón">
            <label for="i_T_colchon_cama">Tipo de conchón</label>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Altura_cama" placeholder="Altura">
                <label for="i_Altura_cama">Altura</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Ancho_cama" placeholder="Ancho">
                <label for="i_Ancho_cama">Ancho</label>
            </div>

        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Grosor_cama" placeholder="Grosor">
                <label for="i_Grosor_cama">Grosor</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Marca_cama" placeholder="Marca">
                <label for="i_Marca_cama">Marca</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_PesoProd_cama" placeholder="Peso del producto">
                <label for="i_PesoProd_cama">Peso del producto</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Color_cama" placeholder="Color">
                <label for="i_Color_cama">Color</label>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Garantia_cama" placeholder="Garantía">
            <label for="i_Garantia_cama">Garantía</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Incluye_cama" placeholder="Incluye">
            <label for="i_Incluye_cama">Incluye</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                id="text_O_informacion_cama"></textarea>
            <label for="text_O_informacion_cama">Otra información</label>
        </div>
    
        <div class="form-floating mb-3">
            <select id="select_UV_bode" class="form-select form-select-sm colorSeleccion" aria-label=".form-select-sm example">
                <option selected>Unidad de venta</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        
        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Existencia_cama" placeholder="Existencia">
                <label for="i_Existencia_cama">Existencia</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Peso_cama" placeholder="Precio">
                <label for="i_Peso_cama">Precio</label>
            </div>
        </div>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>

        <div class="group-buttons">
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnAceptar">Guardar</button>
        </div>
    </form>
</div>