<app-header ></app-header>
<div id="ga-layout">
    <div class="container-linea-negocio">
        
        <div class="linea-negocio-main">

            <a class="m-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Ferreteria</b>
                </p>
            </a>
        </div>
      

        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Óptica</b>
                </p>
            </a>
        </div>
        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Abarrotes</b>
                </p>
            </a>
        </div>
        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Farmacia</b>
                </p>
            </a>
        </div>
    </div>



    
    <div class="container-linea-negocio">
        
        <div class="linea-negocio-main">

            <a class="m-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Ferreteria</b>
                </p>
            </a>
        </div>
      

        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Óptica</b>
                </p>
            </a>
        </div>
        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Abarrotes</b>
                </p>
            </a>
        </div>
        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Farmacia</b>
                </p>
            </a>
        </div>
    </div>
    <div class="container-linea-negocio">
        
        <div class="linea-negocio-main">

            <a class="m-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Ferreteria</b>
                </p>
            </a>
        </div>
      

        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Óptica</b>
                </p>
            </a>
        </div>
        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Abarrotes</b>
                </p>
            </a>
        </div>
        <div class="linea-negocio-main">

            <a class="m-linea-Negocio">
                <picture class="m-figure">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 800px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(min-width: 600px)">
                    <source srcset="../../../assets/images/ferreteria_1.jpg" media="(max-width: 600px)">

                    <img src="../../../assets/images/ferreteria_1.jpg" alt="si no se cumple lo demas">
                </picture>

                <p class="name-linea-negocio textos-ofertas">
                    <b>Farmacia</b>
                </p>
            </a>
        </div>
    </div>
    
   
      
</div>

<app-footer></app-footer>