<h4>Opiniones del producto</h4>

<div class="contenedor-detalle">
    <div class="product-more-details">

        <div>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <p>350 calificaciones sobre el producto</p>
        </div>

        <div class="product-atributo-valor">
            <p class="title-estrellas">5 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0"
                    aria-valuemax="100">30%</div>
            </div>
        </div>

        <div class="product-atributo-valor">
            <p class="title-estrellas">4 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>

        <div class="product-atributo-valor">
            <p class="title-estrellas">3 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>
        <div class="product-atributo-valor">
            <p class="title-estrellas">2 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>

        <div class="product-atributo-valor">
            <p class="title-estrellas">1 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>

        <!--
        <h3>Escribe tu reseña sobre este producto</h3>
        <p>Comparte tu opinión con los demas</p>
        <button type="button" class="btn-comentario" (click) = "escribirComentario()">Escribe tu comentario</button>
    -->
        <button type="button" class="btn-comentario" (click)="openDialog()">Escribe tu comentario</button>

    </div>
    <div class="product-more-details">

        <div>
            
            <p>Lista comentarios</p>
        </div>


    </div>
</div>