
.contenedor-detalle{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.product-more-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;    
}
.tamanio-div{
    width: 60% !important;
    margin-right: 20px;
}
.height-sin-comentarios{
    min-height: 300px;
}
.height-con-comentarios{
    min-height: 500px;
}
.title-estrellas{
width: 85px;
text-align: center;
margin-bottom: 0px;
margin-top: 3px;
}
    
.product-atributo-valor{
    display: flex;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 33px;
}

.btn-comentario{
    width: 250px;
    color: #333;
    background: white;
    border: solid 1px rgb(95, 95, 95);
    margin-top: 10px;
    padding: 10px;
    margin-left: 30px;

}
/*ESTILOS DE BOOTSTRAP*/
.progress {
    width: 40%;
}

/*ESTILOS ESTRELLA*/
.btn-star{
    background:white;
    border: none;
    color: #ffd458;
   
}
.mat-icon {
    height: 30px;
    width: 25px;    
}
.material-icons {
    font-size: 25px; 
   
}
.btn-star:hover{
    border: none !important;
}

/*Nombre del usuario comentarios*/
.spam-usuario{
    display: block;
    font-size: 13px;
    color: #959595;
}

.comentario_usuario{
    text-align: justify;
    text-justify: inter-word;
}

.contenedor-comentarios{
    height: 500px !important;
    overflow: scroll;
<<<<<<< HEAD
    box-shadow: 0px 4px 6px -7px rgb(0 0 0 / 65%);
   
}
.div-comentarios{
    box-shadow: 0px 4px 6px -7px rgb(0 0 0 / 65%);
}

=======
    box-shadow: 0px 4px 6px -7px rgb(0 0 0 / 65%);  
}
>>>>>>> 72fc1feefa3e3745c5f0ce3525efd1f37f89cbf7



