
.contenedor-detalle{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.product-more-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;;
}
.title-estrellas{
width: 85px;
text-align: center;
margin-bottom: 0px;
margin-top: 3px;
}
    
.product-atributo-valor{
    display: flex;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 33px;
}

.btn-comentario{
    width: 250px;
    color: #333;
    background: white;
    border: solid 1px rgb(95, 95, 95);
    margin-top: 10px;
    padding: 10px;
    margin-left: 30px;

}
/*ESTILOS DE BOOTSTRAP*/
.progress {
    width: 40%;
}