<!--<h5>Valoración del producto</h5>-->

<div class="contenedor-detalle">
    <div class="product-more-details">

        <div class="l-p-ratings">
            <!--CREACION DE ESTRELLAS-->
            <button class="btn-star" *ngFor="let r of ratingArr; index as i">
                <mat-icon>
                    {{returnStart(i)}}
                </mat-icon>
            </button>
            <ng-container *ngIf="isServicio==false">
                <p *ngIf="cantidadComentario > 0">{{cantidadComentario}} calificaciones sobre el producto</p>
                <p *ngIf="cantidadComentario == 0">Ninguna calificación sobre el producto</p>
            </ng-container>

            <ng-container *ngIf="isServicio">
                <p *ngIf="cantidadComentario > 0">{{cantidadComentario}} calificaciones sobre el servicio</p>
                <p *ngIf="cantidadComentario == 0">Ninguna calificación sobre el servicio</p>
            </ng-container>

        </div>


        <div class="product-atributo-valor">
            <p class="title-estrellas">5 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="porcentaje_estrella5+'%'"
                    aria-valuenow="porcentaje_estrella5" aria-valuemin="0" aria-valuemax="100">{{porcentaje_estrella5}} %
                </div> 
            </div>
        </div>

        <div class="product-atributo-valor">
            <p class="title-estrellas">4 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="porcentaje_estrella4+'%'"
                    aria-valuenow="porcentaje_estrella4" aria-valuemin="0" aria-valuemax="100">{{porcentaje_estrella4}} %
                </div>
            </div>
        </div>

        <div class="product-atributo-valor">
            <p class="title-estrellas">3 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="porcentaje_estrella3+'%'"
                    aria-valuenow="porcentaje_estrella3" aria-valuemin="0" aria-valuemax="100">{{porcentaje_estrella3}} %
                </div>
            </div>
        </div>
        <div class="product-atributo-valor">
            <p class="title-estrellas">2 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="porcentaje_estrella2+'%'"
                    aria-valuenow="porcentaje_estrella2" aria-valuemin="0" aria-valuemax="100">{{porcentaje_estrella2}} %
                </div>
            </div>
        </div>

        <div class="product-atributo-valor">
            <p class="title-estrellas">1 estrellas</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="porcentaje_estrella1+'%'"
                    aria-valuenow="porcentaje_estrella1" aria-valuemin="0" aria-valuemax="100">{{porcentaje_estrella1}} %
                </div>
            </div>
        </div>

        <!--
        <h3>Escribe tu reseña sobre este producto</h3>
        <p>Comparte tu opinión con los demas</p>
        <button type="button" class="btn-comentario" (click) = "escribirComentario()">Escribe tu comentario</button>
    -->
        <button type="button" class="btn-comentario" (click)="openDialog()">Escribe tu comentario</button>

    </div>
    <div class="product-more-details"
        [ngClass]="{'height-con-comentarios': listaComentarios.length>0, '.height-sin-comentarios' : listaComentarios.length==0 }">

        <div class="div-comentarios mt-comentarios">

            <ng-container *ngIf="isServicio==false">
                <h5 *ngIf="listaComentarios.length>0">Comentarios acerca del producto</h5>
            </ng-container>

            <ng-container *ngIf="isServicio">
                <h5 *ngIf="listaComentarios.length>0">Comentarios acerca del servicio</h5>
            </ng-container>

            <hr>
            <div class="contenedor-comentarios mb-3" *ngIf="cantidadComentario>0">

                <div *ngFor="let data of listaComentariosNombreUsuario">
                    <!--CREACION DE ESTRELLAS-->
                    <button class="btn-star" *ngFor="let item of [].constructor(data.estrellas);">
                        <mat-icon>
                            star
                        </mat-icon>
                    </button>

                    <button class="btn-star" *ngFor="let item of [].constructor(5-data.estrellas);">
                        <mat-icon>
                            star_border
                        </mat-icon>
                    </button>

                    <span class="spam-usuario">{{data.nombre_usuario}} {{data.fecha | date:'d/MMM/y'}}</span>
                    <h6>{{data.titulo_comentario}}</h6>
                    <p class="comentario_usuario">{{data.comentario}}</p>

                    <hr>
                </div>
            </div>
            <ng-container *ngIf="isServicio==false">
                <p *ngIf="listaComentarios.length==0">Ningun comentario sobre este producto, sé el primero en comentar
                </p>
            </ng-container>
            <ng-container *ngIf="isServicio">
                <p *ngIf="listaComentarios.length==0">Ningun comentario sobre este servicio, sé el primero en comentar
                </p>
            </ng-container>

        </div>
    </div>
</div>