<div class="contenedor-detalle">
    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Kilataje :</p>
            <p class="valueproducto">{{datos.kilataje}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
    </div>

    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Género :</p>
            <p class="valueproducto">{{datos.genero}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Acabado :</p>
            <p class="valueproducto">{{datos.acabado}}</p>
        </div>
    </div>
</div>