<div class="container-formularios">

    <form class="mid-form-negocio">

        <h1 class="subheader">AGREGAR PRODUCTO</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="text_nombre_tele" placeholder="Nombre del producto">
            <label for="text_nombre_tele">Nombre del producto</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                id="text_descr_tele"></textarea>
            <label for="text_descr_tele">Descripción</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="text_pant_tele" placeholder="Pantalla">
            <label for="text_pant_tele">Pantalla</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="text_resol_tele" placeholder="Resolución">
            <label for="text_resol_tele">Resolución</label>
        </div>
       
        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_p_usb_tele" placeholder="Puertos usb">
                <label for="text_p_usb_tele">Puertos usb</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_p_hdmi_tele" placeholder="Puertos HDMI">
                <label for="text_p_hdmi_tele">Puertos HDMI</label>
            </div>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Más puertos"
                id="text_mas_p_tele"></textarea>
            <label for="text_mas_p_tele">Más puertos</label>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_marca_tele" placeholder="Marca">
                <label for="text_marca_tele">Marca</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_color_tele" placeholder="Color">
                <label for="text_color_tele">Color</label>
            </div>
        </div>


        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_peso_tele" placeholder="Peso del producto">
                <label for="text_peso_tele">Peso del producto</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_anio_tele" placeholder="Año de modelo">
                <label for="text_anio_tele">Año de modelo</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_medid_tele" placeholder="Medidas">
                <label for="text_medid_tele">Medidas</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_pulgad_tele" placeholder="Pulgada">
                <label for="text_pulgad_tele">Pulgada</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_veloc_tele" placeholder="Velocidad de transición">
                <label for="text_veloc_tele">Velocidad de transición</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_pc_tele" placeholder="Pantalla curva">
                <label for="text_pc_tele">Pantalla curva</label>
            </div>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Altavoces"
                id="text_altavoces_tele"></textarea>
            <label for="text_altavoces_tele">Altavoces</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select form-select-sm colorSeleccion" aria-label=".form-select-sm example">
                <option selected>Unidad de venta</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Garantía"
                id="text_marca_tele"></textarea>
            <label for="text_marca_tele">Garantía</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                id="text_otra_inf_tele"></textarea>
            <label for="text_otra_inf_tele">Otra información</label>
        </div>


        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_exist_tele" placeholder="Existencia">
                <label for="text_exist_tele">Existencia</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_precio_tele" placeholder="Precio">
                <label for="text_precio_tele">Precio</label>
            </div>
        </div>


        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>

        <div class="group-buttons">
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnAceptar">Guardar</button>
        </div>
    </form>
</div>
