<nav class="submenu-nav">

  <div *ngIf="mostrarLista==true || mostrarNavSidebar==true" class="dropdown">
    <button class="btn btn-secondary m-left-menu" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../../assets/images/menu.svg" width="30px" height="30px">
    </button>
    <ul class="dropdown-menu menu-admin" aria-labelledby="dropdownMenuButton1">
      <div class="name-negocio">
        <h3>Perfil del negocio</h3>
      </div>
      <li>
        <a [routerLink]="['/negocio/pagos']" class="dropdown-item p-admin-negocio p-left"
          *ngIf="estadoPagoNegocio==false">Activar cuenta</a>
      </li>
      <li>
        <a [routerLink]="['/negocio/datos']" class="dropdown-item p-admin-negocio p-left">Datos del negocio</a>
      </li>
      <li>
        <a [routerLink]="['/negocio/perfil']" class="dropdown-item p-admin-negocio p-left" *ngIf="tienePerfil"> Perfil
        </a>
      </li>
      <li>
        <ng-container *ngFor='let data of listaLinea'>

          <a [routerLink]="[data.routerLink , data.titulo_linea]" class="dropdown-item p-admin-negocio p-left"
            *ngIf="data.routerLink == '/negocio/agregar-servicio'">{{ data.titulo_linea}}</a>
          <a [routerLink]="[data.routerLink]" class="dropdown-item p-admin-negocio p-left"
            *ngIf="data.routerLink != '/negocio/agregar-servicio'">{{ data.titulo_linea}}</a>

        </ng-container>
      </li>

    </ul>

  </div>


  <img *ngIf="mostrarLista==true" class="btn-listarP" title="Lista de productos"
    src="../../../assets/images/mostrar-lista.svg" alt="editar" width="30px" height="30px" (click)="goListProduct()" />

</nav>

<!--LIMPIAR FLOTADOS-->
<div class="clearfix"></div>