
<div class="contenedor-detalle">
    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Descripción de la pantalla :</p>
            <p class="valueproducto">{{datos.descripcionPantalla}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Sistema operativo :</p>
            <p class="valueproducto">{{datos.descripcionSO}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Almacenamiento :</p>
            <p class="valueproducto">{{datos.descripcionAlmacenamiento}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Memoria Ram :</p>
            <p class="valueproducto">{{datos.descripcionMemoriaRam}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Memoria Ram expandible :</p>
            <p class="valueproducto">{{datos.MemoriaRamExpandible}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de procesamiento gráfico :</p>
            <p class="valueproducto">{{datos.DescripcionGPU}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Sistema de enfriamiento :</p>
            <p class="valueproducto">{{datos.sistemaEnfriamiento}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Tecnologia de desbloqueo :</p>
            <p class="valueproducto">{{datos.tecnologiaDesbloqueo}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Tecnologia de audio :</p>
            <p class="valueproducto">{{datos.tecnologiaAudio}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Grosor :</p>
            <p class="valueproducto">{{datos.grosor}}</p>
        </div>
    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Peso :</p>
            <p class="valueproducto">{{datos.peso}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">CPU :</p>
            <p class="valueproducto">{{datos.cpu}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca del CPU :</p>
            <p class="valueproducto">{{datos.marcaCPU}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Modelo del CPU :</p>
            <p class="valueproducto">{{datos.modeloCPU}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Generación del CPU :</p>
            <p class="valueproducto">{{datos.generacionCPU}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Velocidad del CPU :</p>
            <p class="valueproducto">{{datos.velocidadCPU}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Almacenamiento Emmc :</p>
            <p class="valueproducto">{{datos.almacenamientoEmmc}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Tipo de teclado :</p>
            <p class="valueproducto">{{datos.tipoTeclado}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Resolución :</p>
            <p class="valueproducto">{{datos.resolucion}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Camara web :</p>
            <p class="valueproducto">{{datos.camaraWeb}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Lecto de disco :</p>
            <p class="valueproducto">{{datos.lectorDisco}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Microfono :</p>
            <p class="valueproducto">{{datos.microfono}}</p>
        </div>
    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Cargador :</p>
            <p class="valueproducto">{{datos.cargador}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Entrada HDMI :</p>
            <p class="valueproducto">{{datos.entradaHdmi}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Puertos USB :</p>
            <p class="valueproducto">{{datos.puertosUsb}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Puerto de Ethernet :</p>
            <p class="valueproducto">{{datos.puertoEthernet}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Tarjeta de Ethernet :</p>
            <p class="valueproducto">{{datos.tarjetaEthernet}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Bluetooth :</p>
            <p class="valueproducto">{{datos.bluetooth}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Duración de bateria :</p>
            <p class="valueproducto">{{datos.duracionBateria}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Tipo de bateria :</p>
            <p class="valueproducto">{{datos.tipoBateria}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Medidas :</p>
            <p class="valueproducto">{{datos.medidas}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Garantia :</p>
            <p class="valueproducto">{{datos.garantia}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Otra información :</p>
            <p class="valueproducto">{{datos.otra_inf}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
    </div>
</div>