<div class="contenedor-detalle">
    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Especificación :</p>
            <p class="valueproducto">{{datos.especificacion}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Categoria :</p>
            <p class="valueproducto">{{datos.categoria}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Peso :</p>
            <p class="valueproducto">{{datos.peso}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Medidas :</p>
            <p class="valueproducto">{{datos.medidas}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Otra información :</p>
            <p class="valueproducto">{{datos.otra_inf}}</p>
        </div>
       
    </div>
</div>
