
.contenedor-principal-elementos{
    margin-top: 40px;
}

.elementos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    text-align: center;
}

.item-inf{
    width: 200px;
    height: 200px;
}

.item-inf .img{
    width: 90px;
    height: 90px;
    background: rgb(78, 94, 231);
    border-radius: 50%;
    margin: auto;
}