<div class="contenedor-detalle">
    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Modelo :</p>
            <p class="valueproducto">{{datos.modelo}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>
    </div>

    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Accesorios :</p>
            <p class="valueproducto">{{datos.accesorios}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Voltaje :</p>
            <p class="valueproducto">{{datos.voltaje}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Potencia :</p>
            <p class="valueproducto">{{datos.potencia}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Velocidades :</p>
            <p class="valueproducto">{{datos.velocidades}}</p>
        </div>
    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Capacidad :</p>
            <p class="valueproducto">{{datos.capacidad}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Material :</p>
            <p class="valueproducto">{{datos.material}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Peso :</p>
            <p class="valueproducto">{{datos.peso}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Incluye :</p>
            <p class="valueproducto">{{datos.incluye}}</p>
        </div>
    </div>
    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Garantia :</p>
            <p class="valueproducto">{{datos.garantia}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Otra información :</p>
            <p class="valueproducto">{{datos.otra_inf}}</p>
        </div>
    </div>
</div>