/*ASIDE ---LINEA DE NEGOCIO-PRODUCTO*/
.section-filter{
   font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-filter p{
   font-size: 18px;
   color: #333333;
   font-weight: 600;
   margin-bottom: 4px !important;
}

.form-check label {
   font-size: 14px;
   color: #666 !important;
}
.searchFilter{
   width: 80%;
   height: 40px;
   border-radius: 3px;
   border: 1px solid #ced4da;
   text-decoration: none;
   outline: none;
   background: none !important;
   color: #666;
   font-size: .75em;
   text-indent: 8px;
  
}

.searchFilter:focus{
   border-radius: 3px;
}
.btn-search{
   background: none !important;
   outline: none;
   border: 1px solid #ced4da;
   font-size: 100%;
   width: 40%;
   padding: 1%;
}
.btn-search:hover{
   background: #f1f2f3 !important;
}

