<app-header></app-header>

<div class="title-config">
    <p>
        Elige que linea de producto ofrecerá su negocio
      </p>
</div>

<div class="contenedor-negocios">
    
    <div class="contenedor-item" *ngFor= 'let item of lista; index as i'>
        <div class="box rotate" [ngClass]="{'circle' : item.cuadrado == false, 'box' : item.cuadrado == true }" (click)="seleccionar( item.nameTable, item.title , item.routerLink , item.cuadrado , i)">
            <img src="{{item.image}}" class="img-negocio">
            <h4 class="title">{{item.title}}</h4>
            <p class="description">{{item.description}}</p>
        </div>
    </div>

</div>
<hr>
<h5>Servicios</h5>
<div class="contenedor-negocios">
    <div class="contenedor-item" *ngFor= 'let item of listaServicios; index as i'>
        <div class="box rotate" [ngClass]="{'circle' : item.cuadrado == false, 'box' : item.cuadrado == true }" (click)="seleccionarServicio( item.nameTable, item.title ,item.routerLink, item.cuadrado , i)">
            <img src="{{item.image}}" class="img-negocio">
            <h4 class="title">{{item.title}}</h4>
            <p class="description">{{item.description}}</p>
        </div>
    </div>
</div>

<div class="mid-form-negocio contenedor-btn">
    <input type="submit" value="Guardar" class="btn btnAceptar" (click)="guardar()" />
</div>