
<div class="container-sidebar">
    <aside id="sidebar">
        <div class="sidebar-item">

            <h3>Titulo del Negocio</h3>

            <div class="text-center">
                <img src="../../../assets/images/perfil.png">
                <h5>Logo de la Empresa</h5>
            </div>

            <div class="list-group list-group-flush">

                <a [routerLink]="['/admin-negocio']" class="p-admin-negocio">Datos del negocio</a>
                <a [routerLink]="['/perfil']" class="p-admin-negocio">Perfil</a>

                <ng-container *ngFor='let data of listaLinea'>

                    <a [routerLink]="[data.routerLink , data.titulo_linea]" class="p-admin-negocio" *ngIf = "data.routerLink == '/agregar-servicio'">{{ data.titulo_linea}}</a>
                    <a [routerLink]="[data.routerLink]" class="p-admin-negocio" *ngIf = "data.routerLink != '/agregar-servicio'">{{ data.titulo_linea}}</a>

                </ng-container>
            </div>
        </div>
       
    </aside>
</div>

