<div class="container-sidebar">

    <aside id="sidebar">

        <div class="sidebar-item">

            <h3>Titulo del Negocio</h3>

            <div class="text-center">
                <img src="../../../assets/images/perfil.png">
                <h5>Logo de la Empresa</h5>
            </div>

            <div class="list-group list-group-flush">

              <ng-container *ngIf="authService.isAuthenticated$ | async">
<!--                <a [routerLink]="['/login-negocio']" class="p-admin-negocio">Login para el usuario</a>-->
                <a [routerLink]="['/perfil']" class="p-admin-negocio">Perfil</a>
                <a [routerLink]="['/add-ropa']" class="p-admin-negocio">ROPA</a>
                <a [routerLink]="['/add-calzado']" class="p-admin-negocio">CALZADO</a>
                <a [routerLink]="['/add-servicio']" class="p-admin-negocio">SERVICIO</a>
                <a [routerLink]="['/add_abarrote']" class="p-admin-negocio">Productos de abarrote</a>
                <a [routerLink]="['/add-computadora']" class="p-admin-negocio">COMPUTADORA</a>
                <a [routerLink]="['/add-floreria']" class="p-admin-negocio">FLORERIA</a>
                <a [routerLink]="['/add-fotografia']" class="p-admin-negocio">FOTOGRAFIA</a>
                <a [routerLink]="['/add-fruteria']" class="p-admin-negocio">FRUTERIA</a>
                <a [routerLink]="['/add-funeraria']" class="p-admin-negocio">FUNERARIA</a>
                <a [routerLink]="['/add-herreria']" class="p-admin-negocio">HERRERIA</a>
                <a [routerLink]="['/add-hivernadero']" class="p-admin-negocio">HIVERNADERO</a>
                <a [routerLink]="['/add-joyeria']" class="p-admin-negocio">JOYERIA</a>
                <a [routerLink]="['/add-moto']" class="p-admin-negocio">MOTO</a>
                <a [routerLink]="['/add-muebleria']" class="p-admin-negocio">MUEBLERIA</a>
                <a [routerLink]="['/add-optica']" class="p-admin-negocio">ÓPTICA</a>
                <a [routerLink]="['/add-papeleria']" class="p-admin-negocio">PAPELERIA</a>
                <a [routerLink]="['/add-pintura']" class="p-admin-negocio">PINTURA</a>
                <a [routerLink]="['/add-plomeria']" class="p-admin-negocio">PLOMERIA</a>
                <a [routerLink]="['/add-relojeria']" class="p-admin-negocio">RELOJERIA</a>
                <a [routerLink]="['/add-tela']" class="p-admin-negocio">TELA</a>
                <a [routerLink]="['/add-veladora']" class="p-admin-negocio">VELADORA</a>
                <a [routerLink]="['/add-licuadora']" class="p-admin-negocio">LICUADORA</a>
                <a [routerLink]="['/add-microonda']" class="p-admin-negocio">MICROONDA</a>
                <a [routerLink]="['/add-plancha']" class="p-admin-negocio">PLANCHA</a>
                <a [routerLink]="['/add-refrigerador']" class="p-admin-negocio">REFRIGERADOR</a>
              </ng-container>

               <!-- <a [routerLink]="['/add-television']" class="p-admin-negocio">TELEVISION</a>
                <a [routerLink]="['/datos-empresa']" class="p-admin-negocio">Datos de la empresa</a>
                <a [routerLink]="['/perfil-empresa']" class="p-admin-negocio">Perfil</a>

                <a [routerLink]="['/add-farmacia']" class="p-admin-negocio">FARMACIA</a>
                <a [routerLink]="['/add-alimentos']" class="p-admin-negocio">ALIMENTOS</a>
                <a [routerLink]="['/add-construccion']" class="p-admin-negocio">CONSTRUCCIÓN</a>
                <a [routerLink]="['/add-ferreteria']" class="p-admin-negocio">FERRETERIA</a>
                <a [routerLink]="['/add-carniceria']" class="p-admin-negocio">CARNICERIA</a>
                <a [routerLink]="['/add-cerrajeria']" class="p-admin-negocio">CERRAJERIA</a>

                <a [routerLink]="['/add-celular']" class="p-admin-negocio">CELULAR</a>
                <a [routerLink]="['/add-cama']" class="p-admin-negocio">CAMA</a>
                <a [routerLink]="['/add-bicicleta']" class="p-admin-negocio">BICICLETA</a>
                <a [routerLink]="['/add_accesorio_cel']" class="p-admin-negocio">ACCESORIO PARA CELULAR</a>
                <a [routerLink]="['/add-carpinteria']" class="p-admin-negocio">CARPINTERIA</a>
                <a [routerLink]="['/add-fierro']" class="p-admin-negocio">FIERRO</a>
                <a [routerLink]="['/add-bodega']" class="p-admin-negocio">BODEGA</a>-->

<!--                <a href="#" class="p-admin-negocio">Cerrar Cuenta</a>-->

            </div>

        </div>

    </aside>

</div>
