<app-header [mostrarBuscador]="true"></app-header>

<div class="container-main pa-0">
    <div class="container-Second">
        <div class="row">
            <!--ESPACIO PARA EL FILTRO DE BUSQUEDA SEGUN SEA LA LINE DEL PRODUCTO-->
            <aside class="aside_content " *ngIf="lineaProducto!=null && listProductsAll != null">
                <app-f-ropa *ngIf="lineaProducto=='ropas'"></app-f-ropa>
                <app-f-calzado *ngIf="lineaProducto=='zapatos'"></app-f-calzado>
                <app-buscar-negocio *ngIf="busquedaNegocio"></app-buscar-negocio>
            </aside>
            <!--ESPACIO PARA EL FILTRO DE BUSQUEDA SEGUN SEA LA LINE DEL PRODUCTO-->
            <main class="main-content">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <div class="col-lg-4 col-xl-3 mb-3 pr-2 pl-0 tamanio-div" *ngIf="listProductsAll">
                            <h3 class="h1 mb-3">{{nombreProductoBuscando}} <span class="num-resultado">(
                                    {{listProductsAll.length}}
                                    Resultados)</span>
                            </h3>
                        </div>

                        <!--<div *ngIf="lineaProducto=='ropas' ||  lineaProducto=='zapatos' " class="col-lg-4 col-xl-3 mb-3 pr-2 pl-0">
                            <button  class="btn-filter mb-3" #btnFilters (click)="addMyClass()">Filtrar
                                <img src="../../../assets/images/filtrar.svg">
                            </button>
                        </div>-->
                    </div>

                    <div class="row">
                        <div class="col-12 p-2 p-lg-1" *ngIf="listProductsAll">
                            <ul class="l-product-listingP">
                                <div *ngFor="let lista of listProductsAll | paginate:page_size:page_number">

                                    <app-tienda-ropa-article [article]="lista.data" [_idnegocio]="lista._id"
                                        [_nameTableSearch]="lista.nameTable">

                                    </app-tienda-ropa-article>
                                </div>
                            </ul>
                        </div>
                    </div>

                </div>

            </main>
        </div>
    </div>
    <!--Mostrar cuando no hay resultados de  la busqueda-->
    <div class="container search_Not_found mt-5" *ngIf="listProductsAll==null">
        <h3><span>No hay resultados que coincidan con tu búsqueda, busque más tarde gracias
                &nbsp;</span>{{nombreProductoBuscando}}</h3>
    </div>
    <ngx-ui-loader></ngx-ui-loader>
</div>

<mat-paginator *ngIf="listProductsAll" class="mt-4" [length]="listProductsAll.length" [pageSize]="page_size"
    [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
</mat-paginator>

<app-footer [mostrarT_C]="false"></app-footer>