<app-header [mostrarBuscador]="true"></app-header>

<div class="container-main pa-0">
    <div class="container-Second">
        <div class="row">
            <aside class="aside_content  col-lg-3">
                <app-f-ropa></app-f-ropa>
            </aside>
            <main class="main-content">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <div class="col-lg-4 col-xl-3 mb-3 pr-2 pl-0" *ngIf="listProductsAll">
                            <h3 class="h1 mb-3">{{nombreProductoBuscando}} <span class="num-resultado">(
                                    {{listProductsAll.length}}
                                    Resultados)</span>
                            </h3>
                            <select class="form-select btnSelect" aria-label="Default select example">
                                <option selected>Ordenar por:</option>
                                <option value="1">De ofertas</option>
                                <option value="2">Menor a mayor precio</option>
                                <option value="3">Mayor a menor precio</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" *ngIf="listProductsAll">
                        <div class="col-12 p-2 p-lg-1">
                            <ul class="l-product-listingP">
                                <div *ngFor="let lista of listProductsAll">
                                    <div *ngFor="let article of lista.data | paginate:page_size:page_number">
                                        <app-tienda-ropa-article [article]="article" [_idnegocio]="lista._id"
                                            [_nameTableSearch]="lista.nameTable">
                                        </app-tienda-ropa-article>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <mat-paginator *ngIf="listProductsAll" class="mt-4" [length]="listProductsAll.length"
                    [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)"
                    showFirstLastButtons>
                </mat-paginator>

            </main>
        </div>
    </div>
</div>
<app-footer></app-footer>