/*COMPONENTE tienda-ropa*/
/*div container-main*/
.container-main{
   width: 100%;
   min-height: 1000px; 
   background:var(--color_white);
}
.pa-0 {
   padding: 0!important;
}

/*SEGUNDO CONTENEDOR*/
.container-Second {
   height: 100%;
   margin-left: 15px;
   margin-right: 15px;
   padding: 10px 5px 0 5px;
}

/*CONTENEDOR SIDEBAR Y MAIN CONTENT*/
.row {
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right:0px !important;
   margin-left:0px !important;
}

.row>* {
   flex-shrink: 0;
   width: 100%;
   max-width: 100%;
   padding-right: 0px;
   padding-left: 0px !important;
   margin-top: 0px;
}


/* CONTENEDOR DE PRODUCTOS*/
.main-content{
   width: 75% !important;
}

/*ASIDE ---LINEA DE NEGOCIO-PRODUCTO*/
.aside_content{
   width: 20% !important;
   min-height: 350px;
   border: none;
   padding: 4px;
}

.col-lg-3 {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 25%;
   flex: 0 0 25%;
   max-width: 25%;
}

.h1 {
   color:(--color_textAutomatico);
   font-weight: 500 !important;
   font-size: 20px;
   margin-left: 22px !important;
   text-transform: capitalize;
}

.num-resultado {
   font-size: 14px!important;
   font-weight: 400!important;
   color: var(--colo_textForm);
   margin-left: 3px;
}

/*ETIQUETA PARA MOSTRAR LA LISTA DE PRODUCTOS*/
/*ETIQUETA ul*/
.l-product-listingP {
   list-style: none;
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-columns: repeat(4,1fr) !important;
   grid-template-rows: auto;
   grid-gap: 8px;
   padding-right: 1rem;
}

ul.l-product-listingP{
   padding-left:0;
   width: 100%;
}


/*CONTENEDOR SELECT -----*/

.align-items-center {
   -webkit-box-align: center!important;
   -ms-flex-align: center!important;
   align-items: center!important;
}
.btnSelect{
   color: var(--colo_textForm); 
   font-size: 14px;
}
.btnSelect:focus {
   box-shadow: none !important;
   border: 1px solid #ced4da;
}

.productoNoEncontrado{
padding: 10px;

}
.productoNoEncontrado img{
   width: 100%;
   height: 100%;
}