<div class="container-formularios">
    <div class="contenedor-tabla tblAbarrote">

        <table class="table table-hover">
            <thead class="encabezado-tabla">
                <tr class="d-flex justify-content-around">
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Pantalla</th>
                    <th>Resolución</th>
                    <th>Puerto USB</th>
                    <th>Puerto HDMI</th>
                    <th>Más puertos</th>
                    <th>Marca</th>
                    <th>Color</th>
                    <th>Peso</th>
                    <th>Año de modelo</th>
                    <th>Medidas</th>
                    <th>Pulgadas</th>
                    <th>Velocidad de transición</th>
                    <th>Pantalla curva</th>
                    <th>Altavoces</th>
                    <th>Unidad de venta</th> 
                    <th>Garantia</th>
                    <th>Otra información</th>
                    <th>Precio</th>
                    <th>Existencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody class="contenidoTabla">

                <!--EMPIEZA EL CICLO FOR-->
                <tr class='d-flex justify-content-around'>
                    <td class='w-50'>DATO</td>
                    <td class='w-50'>DATO</td>
                    <td class='w-50'>DATO</td>
                    <td class='w-50'>DATO</td>
                    <td class='w-50'>
                        <button type="button">
                            <img src="../../../assets/images/edit_product.svg" alt="editar" width="30" height="30" />
                        </button>

                        <button type="button">
                            <img src="../../../assets/images/delete_product.svg" alt="eliminar" width="30"
                                height="30" />
                        </button>
                    </td>
                </tr>
                <!--TERMINA EL CICLO FOR-->
            </tbody>
        </table>
    </div>
</div>


