<app-header></app-header>
<main>
    <div class="main-content">
        <div class="head">
            <div class="container head-tc">
                <h3 class="t-c">Términos y condiciones de uso del Sitio</h3>
            </div>

        </div>

        <div class="container mt-4">
            <div class="menu-contenedor-tc">
                <div class="menu">
                    <div class="tc-sidebar">
                        <div class="sidebar">
                            <h3>Términos y condiciones</h3>
                            <ul>
                                <li>
                                    <a [routerLink]="['/terminos-y-condiciones']"
                                        (click)="mostrar_CondicionesUso()">Condiciones de uso</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/terminos-y-condiciones']"
                                        (click)="mostrarAvisoPrivacidad()">Aviso de Privacidad de Barato</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="contenedor-tc">
                    <div *ngIf="CondicionesUso" class="ts-contentenido ml-10">
                        <h1>Condiciones de Uso</h1>
                        <p>Última actualización: 26/08/2021</p>
                        <p class="p-1">
                            Barato desarrolla tecnologías y servicios que permiten que las personas se conecten, creen
                            comunidades y hagan crecer su negocio.
                            Estas condiciones rigen el uso de barato y los demás productos, funciones, apps, servicios,
                            tecnologías y software que ofrecemos (los productos de barato o productos),
                            excepto cuando indiquemos expresamente que se aplican otras condiciones (y no estas).
                            Barato, Inc. te proporciona estos productos.
                            No cobramos por el uso que haces de barato ni de los otros productos y servicios que abarcan
                            estas condiciones. Por el contrario,
                            los negocios y las organizaciones nos pagan para que te mostremos anuncios de sus productos
                            y servicios. Al usar los servicios de Barato,
                            aceptas que podemos mostrarte anuncios que consideremos que te resultarán relevantes para ti
                            y tus intereses.
                            Usamos tus datos personales como ayuda para determinar qué anuncios mostrarte.
                            No vendemos tus datos personales a los anunciantes ni compartimos información que te
                            identifique directamente (como tu nombre, dirección de correo electrónico u otra información
                            de contacto) con los anunciantes, a menos que nos des tu permiso expreso. Por el contrario,
                            los anunciantes pueden proporcionarnos datos como el tipo de público que quieren que vea sus
                            anuncios, y nosotros mostramos esos anuncios a las personas que pueden estar interesadas en
                            ellos. Proporcionamos a los anunciantes informes sobre el rendimiento de sus anuncios para
                            ayudarlos a entender cómo interactúan las personas con su contenido.
                        </p>

                        <p>
                            <strong class="p-1">
                                CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES
                                TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO.

                            </strong>


                        </p>

                        <strong>LIMITACIÓN DE RESPONSABILIDAD</strong>
                        <p class="p-1">
                            Barato sólo pone a disposición de los Usuarios un espacio virtual que les permite
                            ponerse en comunicación mediante Internet para encontrar una forma de ofertar sus
                            productos o servicios y creen comunidades y hagan crecer su negocio.
                            Cada Usuario conoce y acepta ser el exclusivo responsable por los productos o servicios que
                            oferta.

                        </p>

                    </div>

                    <div *ngIf="AvisoPrivacidad" class="ts-contentenido ml-10">
                        <h1>Aviso de Privacidad</h1>
                        <p>Última actualización: 26/08/2021</p>
                        <p>
                            Barato.com está consciente de la importancia que representa para usted, el uso que le damos
                            a su información personal y el modo en que la compartimos, y agradecemos su confianza de que
                            la tratamos con el debido cuidado y prudencia.
                            Al utilizar los Servicios de Barato, usted está dando su consentimiento a las prácticas
                            descritas en este Aviso de Privacidad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<app-footer [mostrarT_C]="false"></app-footer>