<app-header></app-header>
<main>
    <div class="main-content">
        <div class="head">
            <div class="container head-tc">
                <h3 class="t-c">Términos y condiciones de uso del Sitio</h3>
            </div>

        </div>

        <div class="container mt-4">
            <div class="menu-contenedor-tc">
                <div class="menu">
                    <div class="tc-sidebar">
                        <div class="sidebar">
                            <h3>Términos y condiciones</h3>
                            <ul>
                                <li>
                                    <a [routerLink]="['/terminos-y-condiciones']" (click)="mostrar_CondicionesUso()"  >Condiciones de uso</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/terminos-y-condiciones']" (click)="mostrarAvisoPrivacidad()">Aviso de Privacidad de Alas</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div  class="contenedor-tc">
                    <div *ngIf="CondicionesUso"  class="ts-contentenido ml-10">
                        <h1>Condiciones de Uso</h1>
                        <p>Última actualización: 26/08/2021</p>
                        <p>
                            Los presentes términos y condiciones fueron elaborados de conformidad a lo establecido por los artículos 76 bis y 76 bis 1 de la Ley Federal de Protección al Consumidor y observando lo recomendado por la Norma Mexicana NMX-COE-001-SCFI-2018 publicada en el Diario Oficial de la Federación el día 30 de abril del año 2019.
                        </p>
                    </div>

                    <div *ngIf="AvisoPrivacidad" class="ts-contentenido ml-10">
                        <h1>Aviso de Privacidad</h1>
                        <p>Última actualización: 26/08/2021</p>
                        <p>
                            Barato.com está consciente de la importancia que representa para usted, el uso que le damos a su información personal y el modo en que la compartimos, y agradecemos su confianza de que la tratamos con el debido cuidado y prudencia. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<app-footer [mostrarT_C]="false"></app-footer>