<main>

    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'tbl-accesorio-cel'" [tblName]="'accesorio_movil'"> </app-nav-subheader>

    <app-lateral-admin> </app-lateral-admin>
    <section class="section_main">

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>


            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_nomProd_acce" placeholder="Nombre del producto"
                        formControlName="nombre">
                    <label for="i_nomProd_acce">Nombre del producto</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_description_acc" formControlName="descripcion"></textarea>
                    <label for="text_description_acc">Descripción</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Color_acce" placeholder="Color"
                        formControlName="color">
                    <label for="i_Color_acce">Color</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Existencia_acce" placeholder="Existencia"
                        formControlName="existencia">
                    <label for="i_Existencia_acce">Existencia</label>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promocion Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" />
                        <label for="text_Precio_aba">Precio anterior</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Precio_acce" placeholder="Precio"
                            formControlName="precio">
                        <label for="i_Precio_acce">Precio</label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                        id="text_O_informacion_acc" formControlName="otra_inf"></textarea>
                    <label for="text_O_informacion_acc">Otra información</label>
                </div>

                <span
                    *ngIf="this.validacionForm.get('existencia').errors?.required && this.validacionForm.get('existencia').touched">
                    La existencia del producto no puede estar vacio
                </span>

                <span
                    *ngIf="this.validacionForm.get('precio').errors?.required && this.validacionForm.get('precio').touched">
                    El precio del producto no puede estar vacio
                </span>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>


                <div class="group-buttons" *ngIf="editDatos==false">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Editar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>
            </form>
        </div>
    </section>

    <div class="clearfix"></div>

</main>

<app-footer></app-footer>