<main>

    <app-header></app-header>

    <app-lateral-admin></app-lateral-admin>

    <section id="section_main">

        <div class="container-formularios">

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="onSubmit()">

                <h1 class="subheader">AGREGAR PRODUCTO</h1>

                <div class="contenedor-img">

                    <div class="div-img">
                        <img src="../../../assets/images/perfil.png" />
                        <div>
                            <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                            <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                        </div>
                    </div>

                    <div class="div-img">
                        <img src="../../../assets/images/perfil.png" />
                        <div>
                            <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                            <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                        </div>
                    </div>

                    <div class="div-img">
                        <img src="../../../assets/images/perfil.png" />
                        <div>
                            <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                            <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                        </div>
                    </div>

                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_nomProd_acce" placeholder="Nombre del producto"
                        formControlName="nombre">
                    <label for="i_nomProd_acce">Nombre del producto</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_description_acc" formControlName="descripcion"></textarea>
                    <label for="text_description_acc">Descripción</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Color_acce" placeholder="Color"
                        formControlName="color">
                    <label for="i_Color_acce">Color</label>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Existencia_acce" placeholder="Existencia"
                            formControlName="existencia">
                        <label for="i_Existencia_acce">Existencia</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Precio_acce" placeholder="Precio"
                            formControlName="precio">
                        <label for="i_Precio_acce">Precio</label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                        id="text_O_informacion_acc" formControlName="otra_inf"></textarea>
                    <label for="text_O_informacion_acc">Otra información</label>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>
            </form>
        </div>

    </section>

    <div class="clearfix"></div>
</main>

<app-footer></app-footer>