<div class="container-formularios">

    <form class="mid-form-negocio">

        <h1 class="subheader">AGREGAR PRODUCTO</h1>

        <div class="contenedor-img">

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_nomProd_bode" placeholder="Nombre del producto">
            <label for="i_nomProd_bode">Nombre del producto</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                id="text_description_bode"></textarea>
            <label for="text_description_bode">Descripción</label>
        </div>

        <div class="form-floating mb-3">
            <select id="select_UV_bode" class="form-select form-select-sm colorSeleccion" aria-label=".form-select-sm example">
                <option selected>Unidad de venta</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Existencia_bode" placeholder="Existencia">
                <label for="i_Existencia_bode">Existencia</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Precio_bode" placeholder="Precio">
                <label for="i_Precio_bode">Precio</label>
            </div>
        </div>


        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>

        <div class="group-buttons">
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnAceptar">Guardar</button>
        </div>
    </form>
</div>