<div class="container-formularios">

    <form class="mid-form-negocio">

        <h1 class="subheader">AGREGAR PRODUCTO</h1>

        <div class="contenedor-img">

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="text_nombre_ventil" placeholder="Nombre del producto">
            <label for="text_nombre_ventil">Nombre del producto</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                id="text_descrip_ventil"></textarea>
            <label for="text_descrip_ventil">Descripción</label>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_marca_ventil" placeholder="Marca">
                <label for="text_marca_ventil">Marca</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_color_ventil" placeholder="Color">
                <label for="text_color_ventil">Color</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_potencia_ventil" placeholder="Potencia">
                <label for="text_potencia_ventil">Potencia</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_num_ventil" placeholder="Número de aspas">
                <label for="text_num_ventil">Número de aspas</label>
            </div>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select form-select-sm colorSeleccion" aria-label=".form-select-sm example">
                <option selected>Unidad de venta</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="text_garan_refr" placeholder="Garantía">
            <label for="text_garan_refr">Garantía</label>
        </div>
        
        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                id="text_otra_inf_ventil"></textarea>
            <label for="text_otra_inf_ventil">Otra información</label>
        </div>


        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_existencia_ventil" placeholder="Existencia">
                <label for="text_existencia_ventil">Existencia</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="text_precio_ventil" placeholder="Precio">
                <label for="text_precio_ventil">Precio</label>
            </div>
        </div>


        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>

        <div class="group-buttons">
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnAceptar">Guardar</button>
        </div>
    </form>
</div>


<app-footer [mostrarT_C]="false"></app-footer>
