<main class="containerForms">
    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'/negocio/lista-refrigerador'" [tblName]="'refrigerador'"> </app-nav-subheader>
    
    <section id="section_main">
        <app-lateral-admin></app-lateral-admin>

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre del producto"
                        formControlName="nombre" name="nombre" #nombreproducto maxlength="100" (focus)="showNumber('nombre', true)"
                        (focusout)="showNumber('nombre', false)">
                    <label for="nombre">Nombre del producto</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreproducto.value.length}} / 100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_description_aba" name="descripcion" formControlName="descripcion" #descripcionP maxlength="300" (focus)="showNumber('descripcion', true)"
                        (focusout)="showNumber('descripcion', false)"></textarea>
                    <label for="text_description_aba">Descripción</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcion"> {{descripcionP.value.length}} / 300</span></div>
                </div>


                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_marca_refr" placeholder="Marca"
                            formControlName="marca" #marcaP maxlength="50" (focus)="showNumber('marca', true)"
                            (focusout)="showNumber('marca', false)">
                        <label for="text_marca_refr">Marca</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.marca"> {{marcaP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_color_refr" placeholder="Color"
                            formControlName="color" #colorP maxlength="50" (focus)="showNumber('color', true)"
                            (focusout)="showNumber('color', false)">
                        <label for="text_color_refr">Color</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.color"> {{colorP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_anch_refr" placeholder="Ancho"
                            formControlName="ancho" #anchoP maxlength="50" (focus)="showNumber('ancho', true)"
                            (focusout)="showNumber('ancho', false)">
                        <label for="text_anch_refr">Ancho</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.ancho"> {{anchoP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_alto_refr" placeholder="Alto"
                            formControlName="alto" #altoP maxlength="50" (focus)="showNumber('alto', true)"
                            (focusout)="showNumber('alto', false)">
                        <label for="text_alto_refr">Alto</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.alto"> {{altoP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_profun_refr" placeholder="Profundidad"
                            formControlName="profundidad" #profundidadP maxlength="50" (focus)="showNumber('profundidad', true)"
                            (focusout)="showNumber('profundidad', false)">
                        <label for="text_profun_refr">Profundidad</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.profundidad"> {{profundidadP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_filtr_refr" placeholder="Filtro de agua"
                            formControlName="filtro_agua" #filtro_aguaP maxlength="50" (focus)="showNumber('filtro_agua', true)"
                            (focusout)="showNumber('filtro_agua', false)">
                        <label for="text_filtr_refr">Filtro de agua</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.filtro_agua"> {{filtro_aguaP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_peso_refr" placeholder="Peso del producto"
                            formControlName="peso" #pesoP maxlength="50" (focus)="showNumber('peso', true)"
                            (focusout)="showNumber('peso', false)">
                        <label for="text_peso_refr">Peso del producto</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.peso"> {{pesoP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_acab_refr" placeholder="Acabado"
                            formControlName="acabado" #acabadoP maxlength="50" (focus)="showNumber('acabado', true)"
                            (focusout)="showNumber('acabado', false)">
                        <label for="text_acab_refr">Acabado</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.acabado"> {{acabadoP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_mat_refr" placeholder="Material"
                            formControlName="material" #materialP maxlength="50" (focus)="showNumber('material', true)"
                            (focusout)="showNumber('material', false)">
                        <label for="text_mat_refr">Material</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.material"> {{materialP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_luz_refr" placeholder="Luz interior"
                            formControlName="luz_interior" #luz_interiorP maxlength="50" (focus)="showNumber('luz_interior', true)"
                            (focusout)="showNumber('luz_interior', false)">
                        <label for="text_luz_refr">Luz interior</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.luz_interior"> {{luz_interiorP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_volt_refr" placeholder="Voltaje"
                            formControlName="voltaje" #voltajeP maxlength="50" (focus)="showNumber('voltaje', true)"
                            (focusout)="showNumber('voltaje', false)">
                        <label for="text_volt_refr">Voltaje</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.voltaje"> {{voltajeP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_control_h_refr"
                            placeholder="Control de humedad" formControlName="control_humedad" #control_humedadP maxlength="50" (focus)="showNumber('control_humedad', true)"
                            (focusout)="showNumber('control_humedad', false)">
                        <label for="text_control_h_refr">Control de humedad</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.control_humedad"> {{control_humedadP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_num_p_refr" placeholder="Numero de puertas"
                            formControlName="no_puertas" #no_puertasP maxlength="50" (focus)="showNumber('no_puertas', true)"
                            (focusout)="showNumber('no_puertas', false)">
                        <label for="text_num_p_refr">Numero de puertas</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.no_puertas"> {{no_puertasP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_desp_refr" placeholder="Despachador de agua"
                            formControlName="despachador_agua" #despachador_aguaP maxlength="50" (focus)="showNumber('despachador_agua', true)"
                            (focusout)="showNumber('despachador_agua', false)">
                        <label for="text_desp_refr">Despachador de agua</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.despachador_agua"> {{despachador_aguaP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_compa_refr" placeholder="Compartimientos"
                        formControlName="compartimientos" #compartimientosP maxlength="50" (focus)="showNumber('compartimientos', true)"
                        (focusout)="showNumber('compartimientos', false)">
                    <label for="text_compa_refr">Compartimientos</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.compartimientos"> {{compartimientosP.value.length}} / 50</span></div>
                </div>

                <label>Seleciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza">Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_garan_refr" placeholder="Garantía"
                        formControlName="garantia" #garantiaP maxlength="100" (focus)="showNumber('garantia', true)"
                        (focusout)="showNumber('garantia', false)">
                    <label for="text_garan_refr">Garantía</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.garantia"> {{garantiaP.value.length}} / 100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Otra información"
                        id="text_otra_inf_refr" formControlName="otra_inf" #otra_infP maxlength="200" (focus)="showNumber('otra_inf', true)"
                        (focusout)="showNumber('otra_inf', false)"></textarea>
                    <label for="text_otra_inf_refr">Otra información</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.otra_inf"> {{otra_infP.value.length}} / 200</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_Existencia_aba" placeholder="Existencia"
                        name="existencia" formControlName="existencia" #existenciaP maxlength="7" (focus)="showNumber('existencia', true)"
                        (focusout)="showNumber('existencia', false)">
                    <label for="text_Existencia_aba">Existencia</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.existencia"> {{existenciaP.value.length}} / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10" (focus)="showNumber('precio_anterior', true)"
                            (focusout)="showNumber('precio_anterior', false)"/>
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.precio_anterior"> {{precio_anteriorP.value.length}} / 10</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio" name="precio"
                            formControlName="precio" #precioP maxlength="10" (focus)="showNumber('precio', true)"
                            (focusout)="showNumber('precio', false)"/>
                        <label for="text_Precio_aba">Precio</label>
                        <div  class="carateres-max"> <span *ngIf="listaDatosMostrar.precio"> {{precioP.value.length}} / 10</span></div>
                    </div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <input type="submit" value="Actualizar" class="btn btnAceptar"
                        [disabled]="validacionForm.invalid" />
                </div>

            </form>
        </div>
    </section>
    <div class="clearfix"></div>
</main>

<app-footer [mostrarT_C]="false"></app-footer>