<div class="contenedor-detalle">

    <div class="product-more-details">
        
        <div class="product-atributo-valor">
            <p class="titleproducto">Especificación :</p>
            <p class="valueproducto">{{datos.especificacion}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Modelo :</p>
            <p class="valueproducto">{{datos.modelo}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Caratula :</p>
            <p class="valueproducto">{{datos.caratula}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>
    </div>

    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Género :</p>
            <p class="valueproducto">{{datos.genero}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Funcionamiento :</p>
            <p class="valueproducto">{{datos.funcionamiento}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Garantia :</p>
            <p class="valueproducto">{{datos.garantia}}</p>
        </div>

    </div>

</div>