<div class="container-formularios">

    <form class="mid-form-negocio">

        <h1 class="subheader">AGREGAR PRODUCTO</h1>

        <div class="contenedor-img">

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_nomProd_cel" placeholder="Nombre del producto">
            <label for="i_nomProd_cel">Nombre del producto</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                id="text_description_cel"></textarea>
            <label for="text_description_cel">Descripción</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_T_pantalla_cel" placeholder="Tipo de pantalla">
            <label for="i_T_pantalla_cel">Tipo de pantalla</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Seguridad_cel" placeholder="Seguridad">
            <label for="i_Seguridad_cel">Seguridad</label>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Marca_cel" placeholder="Marca">
                <label for="i_Marca_cel">Marca</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Modelo_cel" placeholder="Modelo">
                <label for="i_Modelo_cel">Modelo</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_SistemaOp_cel" placeholder="Sistema operativo">
                <label for="i_SistemaOp_cel">Sistema operativo</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Camara_cel" placeholder="Altavoces">
                <label for="i_Camara_cel">Altavoces</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_SistemaOp_cel" placeholder="Sistema operativo">
                <label for="i_SistemaOp_cel">Camara frontal</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Camara_cel" placeholder="Camara">
                <label for="i_Camara_cel">Camara Trasera</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Tamanio_P_cel" placeholder="Tamaño de la pantalla">
                <label for="i_Tamanio_P_cel">Tamaño de la pantalla</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_resolucion_cel" placeholder="Resolución">
                <label for="i_resolucion_cel">Resolución</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Bateria_cel" placeholder="Bateria">
                <label for="i_Bateria_cel">Bateria</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_MemoriaRam_cel" placeholder="Memoria Ram">
                <label for="i_MemoriaRam_cel">Memoria Ram</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Bateria_cel" placeholder="Bateria">
                <label for="i_Bateria_cel">Color</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_MemoriaRam_cel" placeholder="Memoria Ram">
                <label for="i_MemoriaRam_cel">Bluetooth</label>
            </div>
        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Bateria_cel" placeholder="Bateria">
                <label for="i_Bateria_cel">Interfaz de carga</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_MemoriaRam_cel" placeholder="Memoria Ram">
                <label for="i_MemoriaRam_cel">Almacenamiento</label>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Procesador_cel" placeholder="Procesador">
            <label for="i_Procesador_cel">Procesador</label>
        </div>


        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Garantia_cel" placeholder="Garantía">
            <label for="i_Garantia_cel">Garantía</label>
        </div>

        <div class="form-floating mb-3">
            <select id="select_UV_carn" class="form-select form-select-sm colorSeleccion" aria-label=".form-select-sm example">
                <option selected>Unidad de venta</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        
        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                id="text_O_informacion_cel"></textarea>
            <label for="text_O_informacion_cel">Otra información</label>
        </div>


        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Existencia_cel" placeholder="Existencia">
                <label for="i_Existencia_cel">Existencia</label>

            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Precio_cel" placeholder="Precio">
                <label for="i_Precio_cel">Precio</label>

            </div>
        </div>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>

        <div class="group-buttons">
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnAceptar">Guardar</button>
        </div>
    </form>
</div>