<main>

    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'tbl-celular'" [tblName]="'celular'"> </app-nav-subheader>
    <app-lateral-admin></app-lateral-admin>

    <section class="section_main">

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_nomProd_cel" placeholder="Nombre del producto"
                        formControlName="nombre">
                    <label for="i_nomProd_cel">Nombre del producto</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        formControlName="descripcion" id="text_description_cel"></textarea>
                    <label for="text_description_cel">Descripción</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_T_pantalla_cel" placeholder="Tipo de pantalla"
                        formControlName="tipoPantalla">
                    <label for="i_T_pantalla_cel">Tipo de pantalla</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Seguridad_cel" placeholder="Seguridad"
                        formControlName="seguridad">
                    <label for="i_Seguridad_cel">Seguridad</label>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Marca_cel" placeholder="Marca"
                            formControlName="marca">
                        <label for="i_Marca_cel">Marca</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modelo" placeholder="Modelo"
                            formControlName="modelo">
                        <label for="i_Modelo_cel">Modelo</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_SistemaOp_cel" placeholder="Sistema operativo"
                            formControlName="sistemaOperativo">
                        <label for="i_SistemaOp_cel">Sistema operativo</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Camara_cel" placeholder="Altavoces"
                            formControlName="altavoces">
                        <label for="i_Camara_cel">Altavoces</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_SistemaOp_cel" placeholder="Camara frontal"
                            formControlName="camaraF">
                        <label for="i_SistemaOp_cel">Camara frontal</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Camara_cel" placeholder="Camara Trasera"
                            formControlName="camaraT">
                        <label for="i_Camara_cel">Camara Trasera</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Tamanio_P_cel" placeholder="Tamaño de la pantalla"
                            formControlName="tamanioPantalla">
                        <label for="i_Tamanio_P_cel">Tamaño de la pantalla</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_resolucion_cel" placeholder="Resolución"
                            formControlName="resolucion">
                        <label for="i_resolucion_cel">Resolución</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Bateria_cel" placeholder="Bateria"
                            formControlName="bateria">
                        <label for="i_Bateria_cel">Bateria</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_MemoriaRam_cel" placeholder="Memoria Ram"
                            formControlName="memoriaRam">
                        <label for="i_MemoriaRam_cel">Memoria Ram</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Bateria_cel" placeholder="Color"
                            formControlName="color">
                        <label for="i_Bateria_cel">Color</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_MemoriaRam_cel" placeholder="Bluetooth"
                            formControlName="bluetooth">
                        <label for="i_MemoriaRam_cel">Bluetooth</label>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Bateria_cel" placeholder="Interfaz de carga"
                            formControlName="interfazCarga">
                        <label for="i_Bateria_cel">Interfaz de carga</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_MemoriaRam_cel" placeholder="Almacenamiento"
                            formControlName="almacenamiento">
                        <label for="i_MemoriaRam_cel">Almacenamiento</label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Procesador_cel" placeholder="Procesador"
                        formControlName="procesador">
                    <label for="i_Procesador_cel">Procesador</label>
                </div>


                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Garantia_cel" placeholder="Garantía"
                        formControlName="garantia">
                    <label for="i_Garantia_cel">Garantía</label>
                </div>

                <label>Seleciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza">Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>


                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                        formControlName="otra_inf" id="text_O_informacion_cel"></textarea>
                    <label for="text_O_informacion_cel">Otra información</label>
                </div>


                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Existencia_cel" placeholder="Existencia"
                            formControlName="existencia">
                        <label for="i_Existencia_cel">Existencia</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Precio_cel" placeholder="Precio"
                            formControlName="precio">
                        <label for="i_Precio_cel">Precio</label>

                    </div>
                </div>

                <span
                    *ngIf="this.validacionForm.get('existencia').errors?.required && this.validacionForm.get('existencia').touched">
                    La existencia del producto no puede estar vacio
                </span>

                <span
                    *ngIf="this.validacionForm.get('precio').errors?.required && this.validacionForm.get('precio').touched">
                    El precio del producto no puede estar vacio
                </span>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>


                <div class="group-buttons" *ngIf="editDatos==false">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Editar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>
            </form>
        </div>
    </section>

    <div class="clearfix"></div>

</main>

<app-footer></app-footer>