<main>

    <app-header></app-header>

    <app-nav-subheader [ruta_link]="'tbl-bicicleta'" [tblName]="'bicicleta'"> </app-nav-subheader>

    <app-lateral-admin></app-lateral-admin>

    <section class="section_main">

        <div class="container-formularios">
            
            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_nomProd_bici" placeholder="Nombre del producto"
                        formControlName="nombre">
                    <label for="i_nomProd_bici">Nombre del producto</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_description_bici" formControlName="descripcion"></textarea>
                    <label for="text_description_bici">Descripción</label>
                </div>


                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Marca_bici" placeholder="Medidas"
                            formControlName="medidas">
                        <label for="i_Marca_bici">Medidas</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_CantVelocidad_bici"
                            placeholder="Cantidad de velocidades" formControlName="velocidades">
                        <label for="i_CantVelocidad_bici">Cantidad de velocidades</label>
                    </div>

                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Marca_bici" placeholder="Marca"
                            formControlName="marca">
                        <label for="i_Marca_bici">Marca</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Material_bici" placeholder="Material"
                            formControlName="material">
                        <label for="i_Material_bici">Material</label>
                    </div>

                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Frenos_bici" placeholder="Frenos"
                            formControlName="frenos">
                        <label for="i_Frenos_bici">Frenos</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Pedales_bici" placeholder="Pedales"
                            formControlName="pedales">
                        <label for="i_Pedales_bici">Pedales</label>
                    </div>

                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Peso_Product_bici" placeholder="Peso del producto"
                            formControlName="pesoProducto">
                        <label for="i_Peso_Product_bici">Peso del producto</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_PesoMax_bici" placeholder="Peso máximo soportado"
                            formControlName="pesoSoportado">
                        <label for="i_PesoMax_bici">Peso máximo soportado</label>
                    </div>

                </div>

                <label class="form-label" style="margin-bottom: 3px; margin-left: 15px;">Producto para</label>
                <div class="container-linea-n">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked1" name="genero" value="Hombre"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked1">
                            Hombre
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked2" name="genero" value="Mujer"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked2">
                            Mujer
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked3" name="genero" value="Unicex"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked3">
                            Unicex
                        </label>
                    </div>
                </div>



                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Existencia_bici" placeholder="Existencia"
                            formControlName="existencia">
                        <label for="i_Existencia_bici">Existencia</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Precio_bici" placeholder="Precio"
                            formControlName="precio">
                        <label for="i_Precio_bici">Precio</label>

                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Color_bici" placeholder="Color"
                        formControlName="color">
                    <label for="i_Color_bici">Color</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                        formControlName="otra_inf" id="text_O_informacion_bici"></textarea>
                    <label for="text_O_informacion_bici">Otra información</label>
                </div>

                <span
                    *ngIf="this.validacionForm.get('existencia').errors?.required && this.validacionForm.get('existencia').touched">
                    La existencia del producto no puede estar vacio
                </span>

                <span
                    *ngIf="this.validacionForm.get('precio').errors?.required && this.validacionForm.get('precio').touched">
                    El precio del producto no puede estar vacio
                </span>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>


                <div class="group-buttons" *ngIf="editDatos==false">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Editar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>
            </form>
        </div>
    </section>

    <div class="clearfix"></div>

</main>

<app-footer></app-footer>