<div class="container-formularios">

    <form class="mid-form-negocio">

        <h1 class="subheader">AGREGAR PRODUCTO</h1>

        <div class="contenedor-img">

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

            <div class="div-img">
                <img src="../../../assets/images/perfil.png" />
                <div>
                    <button type="button" class="btnPerfil-negocio btnAgregar">Agregar</button>
                    <button type="button" class="btnPerfil-negocio btnEliminar">Eliminar</button>
                </div>
            </div>

        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_nomProd_bici" placeholder="Nombre del producto">
            <label for="i_nomProd_bici">Nombre del producto</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                id="text_description_bici"></textarea>
            <label for="text_description_bici">Descripción</label>
        </div>


        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Marca_bici" placeholder="Medidas">
                <label for="i_Marca_bici">Medidas</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_CantVelocidad_bici" placeholder="Cantidad de velocidades">
                <label for="i_CantVelocidad_bici">Cantidad de velocidades</label>
            </div>

        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Marca_bici" placeholder="Marca">
                <label for="i_Marca_bici">Marca</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Material_bici" placeholder="Material">
                <label for="i_Material_bici">Material</label>
            </div>

        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Frenos_bici" placeholder="Frenos">
                <label for="i_Frenos_bici">Frenos</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Pedales_bici" placeholder="Pedales">
                <label for="i_Pedales_bici">Pedales</label>
            </div>

        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Peso_Product_bici" placeholder="Peso del producto">
                <label for="i_Peso_Product_bici">Peso del producto</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_PesoMax_bici" placeholder="Peso máximo soportado">
                <label for="i_PesoMax_bici">Peso máximo soportado</label>
            </div>

        </div>

        

        <label class="form-label" style="margin-bottom: 3px; margin-left: 15px;">Bicicleta para</label>
        <div class="container-linea-n">

            <div class="form-check">
                <input id="hombre" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Hombre
                </label>
            </div>

            <div class="form-check">
                <input id="Mujer" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Mujer
                </label>
            </div>

            <div class="form-check">
                <input id="Unicex" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Unicex
                </label>
            </div>

        </div>

        <div class="contenedor-linea">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Existencia_bici" placeholder="Existencia">
                <label for="i_Existencia_bici">Existencia</label>

            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="i_Precio_bici" placeholder="Precio">
                <label for="i_Precio_bici">Precio</label>

            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="i_Color_bici" placeholder="Color">
            <label for="i_Color_bici">Color</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control tamanio_textarea-form" placeholder="Otra información"
                id="text_O_informacion_bici"></textarea>
            <label for="text_O_informacion_bici">Otra información</label>
        </div>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>

        <div class="group-buttons">
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnAceptar">Guardar</button>
        </div>
    </form>
</div>