
<div class="contenedor-detalle">
    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Material de relleno :</p>
            <p class="valueproducto">{{datos.material_relleno}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Tipo de colchón :</p>
            <p class="valueproducto">{{datos.tipo_colchon}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Altura :</p>
            <p class="valueproducto">{{datos.altura}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Ancho :</p>
            <p class="valueproducto">{{datos.ancho}}</p>
        </div>
    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Grosor :</p>
            <p class="valueproducto">{{datos.grosor}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Peso del colchón :</p>
            <p class="valueproducto">{{datos.peso}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>

    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Garantía :</p>
            <p class="valueproducto">{{datos.garantia}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Incluye :</p>
            <p class="valueproducto">{{datos.incluye}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Otra información :</p>
            <p class="valueproducto">{{datos.otra_inf}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
    </div>

</div>