<main class="containerForms">
    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'/negocio/lista-computadora'" [tblName]="'computadora'"> </app-nav-subheader>
    
    <section id="section_main">
        <app-lateral-admin></app-lateral-admin>

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>


                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_nomProd_compu" placeholder="Nombre del producto"
                        formControlName="nombre" #nombreproducto maxlength="50" (focus)="showNumber('nombre', true)"
                        (focusout)="showNumber('nombre', false)">
                    <label for="i_nomProd_compu">Nombre del producto</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreproducto.value.length}} /
                            50</span></div>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control input-description tamanio_textarea-form"
                        placeholder="Descripción de la pantalla" id="text_description_compu"
                        formControlName="descripcionPantalla" #descripcionPantallaP maxlength="200"
                        (focus)="showNumber('descripcionPantalla', true)"
                        (focusout)="showNumber('descripcionPantalla', false)"></textarea>
                    <label for="text_description_compu">Descripción de la pantalla</label>
                    <div class="icono-ayuda position-div">
                        <img src="../../../assets/images/ayuda.png">
                        <p id="msj-seleccion">
                            <li>Tipo de pantalla</li>
                            <li>Tamaño de pantalla</li>
                            <li>Pantalla táctil</li>
                        </p>
                    </div>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcionPantalla">
                            {{descripcionPantallaP.value.length}} / 200</span></div>
                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control input-description tamanio_textarea-form_OInfo"
                        placeholder="Descripción del Sistema Operativo" id="text_description_SO_compu"
                        formControlName="descripcionSO" #descripcionSOP maxlength="200"
                        (focus)="showNumber('descripcionSO', true)"
                        (focusout)="showNumber('descripcionSO', false)"></textarea>

                    <label for="text_description_SO_compu">Descripción del Sistema Operativo</label>
                    <div class="icono-ayuda position-div">
                        <img src="../../../assets/images/ayuda.png">

                        <p id="msj-seleccion">
                            <li>Arquitectura</li>
                            <li>Version del S.O</li>
                        </p>

                    </div>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcionSO">
                            {{descripcionSOP.value.length}} / 200</span></div>
                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control input-description tamanio_textarea-form_OInfo"
                        placeholder="Descripción del Almacenamiento" id="text_descAlmac_compu"
                        formControlName="descripcionAlmacenamiento" #descripcionAlmacenamientoP maxlength="50"
                        (focus)="showNumber('descripcionAlmacenamiento', true)"
                        (focusout)="showNumber('descripcionAlmacenamiento', false)"></textarea>
                    <label for="text_descAlmac_compu">Descripción del Almacenamiento</label>

                    <div class="icono-ayuda position-div">
                        <img src="../../../assets/images/ayuda.png">

                        <p id="msj-seleccion">
                            <li>Sólido</li>
                            <li>Rígido</li>
                            <li>Tamaño de Almacenamiento</li>
                        </p>

                    </div>

                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcionAlmacenamiento">
                            {{descripcionAlmacenamientoP.value.length}} / 200</span></div>
                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>

                </div>

                <div class="form-floating mb-3">

                    <textarea class="form-control input-description tamanio_textarea-form_OInfo"
                        placeholder="Descripción de la Memoria Ram" id="text_descMemoriaRam_compu"
                        formControlName="descripcionMemoriaRam" #descripcionMemoriaRamP maxlength="200"
                        (focus)="showNumber('descripcionMemoriaRam', true)"
                        (focusout)="showNumber('descripcionMemoriaRam', false)"></textarea>

                    <label for="text_descMemoriaRam_compu">Descripción de la Memoria Ram</label>

                    <div class="icono-ayuda position-div">
                        <img src="../../../assets/images/ayuda.png">
                        <p id="msj-seleccion">
                            <li>Tipo</li>
                            <li>Marca</li>
                            <li>Velocidad</li>
                            <li>Tamaño de Almacenamiento</li>
                        </p>
                    </div>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcionMemoriaRam">
                            {{descripcionMemoriaRamP.value.length}} / 200</span></div>
                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>


                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control input-description tamanio_textarea-form_OInfo"
                        id="i_MemoriaRamExp_compu" placeholder="Memoria Ram Expandible"
                        formControlName="MemoriaRamExpandible" #MemoriaRamExpandibleP maxlength="200"
                        (focus)="showNumber('MemoriaRamExpandible', true)"
                        (focusout)="showNumber('MemoriaRamExpandible', false)">
                    <label for="i_MemoriaRamExp_compu">Memoria Ram Expandible</label>

                    <div class="icono-ayuda position-div">
                        <img src="../../../assets/images/ayuda.png">

                        <p id="msj-seleccion">
                            Cantidad de ranuras
                        </p>

                    </div>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.MemoriaRamExpandible">
                            {{MemoriaRamExpandibleP.value.length}} / 200</span></div>

                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control input-description tamanio_textarea-form_OInfo"
                        placeholder="Descripción de la GPU" id="text_description_GPU_compu"
                        formControlName="DescripcionGPU" #DescripcionGPU_P maxlength="200"
                        (focus)="showNumber('DescripcionGPU', true)"
                        (focusout)="showNumber('DescripcionGPU', false)"></textarea>
                    <label for="text_description_GPU_compu">Descripción de la GPU</label>

                    <div class="icono-ayuda position-div">
                        <img src="../../../assets/images/ayuda.png">

                        <p id="msj-seleccion">
                            <li>Marca</li>
                            <li>Modelo</li>
                            <li>Tamaño de Almacenamiento</li>
                        </p>

                    </div>

                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.DescripcionGPU">
                            {{DescripcionGPU_P.value.length}} / 200</span></div>
                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>

                </div>


                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Sistema de enfriamiento"
                        id="text_desc_SistemaE_compu" formControlName="sistemaEnfriamiento" #sistemaEnfriamientoP
                        maxlength="200" (focus)="showNumber('sistemaEnfriamiento', true)"
                        (focusout)="showNumber('sistemaEnfriamiento', false)"></textarea>
                    <label for="text_desc_SistemaE_compu">Sistema de enfriamiento</label>
                    <div class="carateres-max">
                        <span *ngIf="listaDatosMostrar.sistemaEnfriamiento">
                            {{sistemaEnfriamientoP.value.length}} / 200
                        </span>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_TecnologiaDes_compu"
                        placeholder="Tecnología de desbloqueo" formControlName="tecnologiaDesbloqueo"
                        #tecnologiaDesbloqueoP maxlength="50" (focus)="showNumber('tecnologiaDesbloqueo', true)"
                        (focusout)="showNumber('tecnologiaDesbloqueo', false)">
                    <label for="i_TecnologiaDes_compu">Tecnología de desbloqueo</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.tecnologiaDesbloqueo">
                            {{tecnologiaDesbloqueoP.value.length}} / 50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_TecnologiaAudio_compu"
                        placeholder="Tecnologia de audio" formControlName="tecnologiaAudio" #tecnologiaAudioP
                        maxlength="50" (focus)="showNumber('tecnologiaAudio', true)"
                        (focusout)="showNumber('tecnologiaAudio', false)">
                    <label for="i_TecnologiaAudio_compu">Tecnologia de audio</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.tecnologiaAudio">
                            {{tecnologiaAudioP.value.length}} / 50</span></div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Color_compu" placeholder="Color"
                            formControlName="color" #colorP maxlength="50" (focus)="showNumber('color', true)"
                            (focusout)="showNumber('color', false)">
                        <label for="i_Color_compu">Color</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.color"> {{colorP.value.length}} /
                                50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_MarcaProd_compu" placeholder="Marca del producto"
                            formControlName="marca" #marcaP maxlength="50" (focus)="showNumber('marca', true)"
                            (focusout)="showNumber('marca', false)">
                        <label for="i_MarcaProd_compu">Marca del producto</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.marca"> {{marcaP.value.length}} /
                                50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Grosor_compu" placeholder="Grosor"
                            formControlName="grosor" #grosorP maxlength="50" (focus)="showNumber('grosor', true)"
                            (focusout)="showNumber('grosor', false)">
                        <label for="i_Grosor_compu">Grosor</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.grosor"> {{grosorP.value.length}} /
                                50</span></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Peso_compu" placeholder="Peso"
                            formControlName="peso" #pesoP maxlength="50" (focus)="showNumber('peso', true)"
                            (focusout)="showNumber('peso', false)">
                        <label for="i_Peso_compu">Peso</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.peso"> {{pesoP.value.length}} /
                                50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_CPU_compu" placeholder="CPU" formControlName="cpu"
                            #cpuP maxlength="50" (focus)="showNumber('cpu', true)"
                            (focusout)="showNumber('cpu', false)">
                        <label for="i_CPU_compu">CPU</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.cpu"> {{cpuP.value.length}} /
                                50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_MarcaCPU_compu" placeholder="Marca del CPU"
                            formControlName="marcaCPU" #marcaCPUP maxlength="50" (focus)="showNumber('marcaCPU', true)"
                            (focusout)="showNumber('marcaCPU', false)">
                        <label for="i_MarcaCPU_compu">Marca del CPU</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.marcaCPU"> {{marcaCPUP.value.length}}
                                / 50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_ModeloCPU_compu" placeholder="Modelo del CPU"
                            formControlName="modeloCPU" #modeloCPUP maxlength="50"
                            (focus)="showNumber('modeloCPU', true)" (focusout)="showNumber('modeloCPU', false)">
                        <label for="i_ModeloCPU_compu">Modelo del CPU</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.modeloCPU">
                                {{modeloCPUP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Gen_compu" placeholder="Generación del CPU"
                            formControlName="generacionCPU" #generacionCPUP maxlength="50 "
                            (focus)="showNumber('generacionCPU', true)" (focusout)="showNumber('generacionCPU', false)">
                        <label for="i_Gen_compu">Generación del CPU</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.generacionCPU">
                                {{generacionCPUP.value.length}} / 50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_VelocidadCPU_compu"
                            placeholder="Velocidad del CPU" formControlName="velocidadCPU" #velocidadCPUP maxlength="50"
                            (focus)="showNumber('velocidadCPU', true)" (focusout)="showNumber('velocidadCPU', false)">
                        <label for="i_VelocidadCPU_compu">Velocidad del CPU</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.velocidadCPU">
                                {{velocidadCPUP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Almace_emmc_compu"
                            placeholder="Almacenamiento emmc" formControlName="almacenamientoEmmc" #almacenamientoEmmcP
                            maxlength="50" (focus)="showNumber('almacenamientoEmmc', true)" (focusout)="showNumber('almacenamientoEmmc', false)">
                        <label for="i_Almace_emmc_compu">Almacenamiento emmc</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.almacenamientoEmmc">
                                {{almacenamientoEmmcP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_T_Teclado_compu" placeholder="Tipo de teclado"
                            formControlName="tipoTeclado" #tipoTecladoP maxlength="50"
                            (focus)="showNumber('tipoTeclado', true)" (focusout)="showNumber('tipoTeclado', false)">
                        <label for="i_T_Teclado_compu">Tipo de teclado</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.tipoTeclado">
                                {{tipoTecladoP.value.length}} / 50</span></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Resolucion_compu" placeholder="Resolución"
                            formControlName="resolucion" #resolucionP maxlength="50" (focus)="showNumber('resolucion', true)"
                            (focusout)="showNumber('resolucion', false)">
                        <label for="i_Resolucion_compu">Resolución</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.resolucion"> {{resolucionP.value.length}} / 50</span></div>
                    </div>

                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_CamaraWeb_compu" placeholder="Camara Web"
                            formControlName="camaraWeb" #camaraWebP maxlength="50" (focus)="showNumber('camaraWeb', true)"
                            (focusout)="showNumber('camaraWeb', false)">
                        <label for="i_CamaraWeb_compu">Camara Web</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.camaraWeb"> {{camaraWebP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_LectorDisco_compu" placeholder="Lector de disco"
                            formControlName="lectorDisco" #lectorDiscoP maxlength="50"
                            (focus)="showNumber('lectorDisco', true)" (focusout)="showNumber('lectorDisco', false)">
                        <label for="i_LectorDisco_compu">Lector de disco</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.lectorDisco"> {{lectorDiscoP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Microfono_compu" placeholder="Micrófono"
                            formControlName="microfono" #microfonoP maxlength="50" (focus)="showNumber('microfono', true)"
                            (focusout)="showNumber('microfono', false)">
                        <label for="i_Microfono_compu">Micrófono</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.microfono"> {{microfonoP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Bateria_compu" placeholder="Cargador"
                            formControlName="cargador" #cargadorP maxlength="50" (focus)="showNumber('cargador', true)"
                            (focusout)="showNumber('cargador', false)">
                        <label for="i_Bateria_compu">Cargador</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.cargador"> {{cargadorP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_En_HDMI_compu" placeholder="Entrada HDMI"
                            formControlName="entradaHdmi" #entradaHdmiP maxlength="50" (focus)="showNumber('entradaHdmi', true)" (focusout)="showNumber('entradaHdmi', false)">
                        <label for="i_En_HDMI_compu">Entrada HDMI</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.entradaHdmi"> {{entradaHdmiP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_PuertoUSB_compu" placeholder="Puertos USB"
                            formControlName="puertosUsb" #puertosUsbP maxlength="50" (focus)="showNumber('puertosUsb', true)" (focusout)="showNumber('puertosUsb', false)">
                        <label for="i_PuertoUSB_compu">Puertos USB</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.puertosUsb"> {{puertosUsbP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_PuertoEthe_compu" placeholder="Puerto Ethernet"
                            formControlName="puertoEthernet" #puertoEthernetP maxlength="50" (focus)="showNumber('puertoEthernet', true)" (focusout)="showNumber('puertoEthernet', false)">
                        <label for="i_PuertoEthe_compu">Puerto Ethernet</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.puertoEthernet"> {{puertoEthernetP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_TarjetaEthe_compu" placeholder="Tarjeta Ethernet"
                            formControlName="tarjetaEthernet" #tarjetaEthernetP maxlength="50" (focus)="showNumber('tarjetaEthernet', true)" (focusout)="showNumber('tarjetaEthernet', false)">
                        <label for="i_TarjetaEthe_compu">Tarjeta Ethernet</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.tarjetaEthernet"> {{tarjetaEthernetP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Bluetooth_compu" placeholder="Bluetooth"
                            formControlName="bluetooth" #bluetoothP maxlength="50" (focus)="showNumber('bluetooth', true)" (focusout)="showNumber('bluetooth', false)">
                        <label for="i_Bluetooth_compu">Bluetooth</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.bluetooth"> {{bluetoothP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Dura_bateria_compu"
                            placeholder="Duración de bateria" formControlName="duracionBateria" #duracionBateriaP
                            maxlength="50" (focus)="showNumber('duracionBateria', true)" (focusout)="showNumber('duracionBateria', false)">
                        <label for="i_Dura_bateria_compu">Duración de bateria</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.duracionBateria"> {{duracionBateriaP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_T_bateria_compu" placeholder="Tipo de bateria"
                            formControlName="tipoBateria" #tipoBateriaP maxlength="50" (focus)="showNumber('tipoBateria', true)" (focusout)="showNumber('tipoBateria', false)">
                        <label for="i_T_bateria_compu">Tipo de bateria</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.tipoBateria"> {{tipoBateriaP.value.length}} / 50</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Medidas_compu" placeholder="Medidas"
                            formControlName="medidas" #medidasP maxlength="50" (focus)="showNumber('medidas', true)" (focusout)="showNumber('medidas', false)">
                        <label for="i_Medidas_compu">Medidas</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.medidas"> {{medidasP.value.length}} / 50</span></div>
                    </div>
                </div>

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10" (focus)="showNumber('precio_anterior', true)" (focusout)="showNumber('precio_anterior', false)">
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.precio_anterior"> {{precio_anteriorP.value.length}} / 10</span></div>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio" name="precio"
                            formControlName="precio" #precioP maxlength="10" (focus)="showNumber('precio', true)" (focusout)="showNumber('precio', false)">
                        <label for="text_Precio_aba">Precio</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.precio"> {{precioP.value.length}} / 10</span></div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_Existencia_aba" placeholder="Existencia"
                        name="existencia" formControlName="existencia" #existenciaP maxlength="7" (focus)="showNumber('existencia', true)" (focusout)="showNumber('existencia', false)">
                    <label for="text_Existencia_aba">Existencia</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.existencia"> {{existenciaP.value.length}} / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="clearfix"></div>


                <label>Seleciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza" selected>Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>


                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Garantia_compu" placeholder="Garantía"
                        formControlName="garantia" #garantiaP maxlength="100" (focus)="showNumber('garantia', true)" (focusout)="showNumber('garantia', false)">
                    <label for="i_Garantia_compu">Garantía</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.garantia"> {{garantiaP.value.length}} / 100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo " style="height: 100px !important;"
                        placeholder="Especificación" id="text_O_informacion_compu" formControlName="otra_inf" #otra_infP
                        maxlength="300" (focus)="showNumber('otra_inf', true)" (focusout)="showNumber('otra_inf', false)"></textarea>
                    <label for="text_O_informacion_compu">Otra información</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.otra_inf"> {{otra_infP.value.length}} / 300</span></div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <input type="submit" value="Actualizar" class="btn btnAceptar"
                        [disabled]="validacionForm.invalid" />
                </div>

            </form>
        </div>

    </section>
    <div class="clearfix"></div>
    <ngx-ui-loader></ngx-ui-loader>
</main>

<app-footer [mostrarT_C]="false"></app-footer>