
.inputs{
    width: 20%;
}
.password{
    width: 35%;
}
.btn-EliminarCuenta{
    width: 30%;
}


/*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:480px){
    .container-formularios{
        width: 100%;
       
    }

    .inputs{
        width: 30%;
    }
    .password{
        width: 50%;
    }

    .btn-EliminarCuenta{
        width: 40%;
    }

    .group-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}

/*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:568px){
    .container-formularios{
        width: 100%;
       
    }

    .inputs{
        width: 25%;
    }
    .password{
        width: 50%;
    }

    .btn-EliminarCuenta{
        width: 35%;
    }
 
}

@media screen and (min-width:570px) and (max-width:690px){
    .container-formularios{
        width: 100%;
       
    }

    .inputs{
        width: 25%;
    }
    .password{
        width: 50%;
    }

    .btn-EliminarCuenta{
        width: 35%;
    }

    @media screen and (min-width:700px) and (max-width:690px){
        .container-formularios{
            width: 100%;
           
        }
    
        .inputs{
            width: 25%;
        }
        .password{
            width: 50%;
        }
    
        .btn-EliminarCuenta{
            width: 35%;
        } 
    }
}

@media screen and (min-width:690px) and (max-width:639px){
    .container-formularios{
        width: 100%;
       
    }

    .inputs{
        width: 25%;
    }
    .password{
        width: 50%;
    }

    .btn-EliminarCuenta{
        width: 35%;
    } 

}

@media screen and (min-width:800px) and (max-width:390px){
    .container-formularios{
        width: 100%;
       
    }

    .inputs{
        width: 25%;
    }
    .password{
        width: 50%;
    }

    .btn-EliminarCuenta{
        width: 35%;
    }

}

