<main class="containerForms">

    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'/negocio/lista-accesorio-cel'" [tblName]="'accesorio_movil'"> </app-nav-subheader>


    <section class="section_main">

        <app-lateral-admin> </app-lateral-admin>
        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>


            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_nomProd_acce" placeholder="Nombre del producto"
                        formControlName="nombre" #nombreproducto maxlength="50" (focus)="showNumber('nombre', true)"
                        (focusout)="showNumber('nombre', false)">
                    <label for="i_nomProd_acce">Nombre del producto</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreproducto.value.length}} /
                            50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_description_acc" formControlName="descripcion" #descripcionP maxlength="300"
                        (focus)="showNumber('descripcion', true)"
                        (focusout)="showNumber('descripcion', false)"></textarea>
                    <label for="text_description_acc">Descripción</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcion">
                            {{descripcionP.value.length}} / 300</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Color_acce" placeholder="Color"
                        formControlName="color" #colorP maxlength="50" (focus)="showNumber('color', true)"
                        (focusout)="showNumber('color', false)">
                    <label for="i_Color_acce">Color</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.color"> {{colorP.value.length}} /
                            50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="i_Existencia_acce" placeholder="Existencia"
                        formControlName="existencia" #existenciaP maxlength="7" (focus)="showNumber('existencia', true)"
                        (focusout)="showNumber('existencia', false)">
                    <label for="i_Existencia_acce">Existencia</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.existencia"> {{existenciaP.value.length}}
                            / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promocion Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10"
                            (focus)="showNumber('precio_anterior', true)"
                            (focusout)="showNumber('precio_anterior', false)">
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.precio_anterior">
                                {{precio_anteriorP.value.length}} / 10</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_Precio_acce" placeholder="Precio"
                            formControlName="precio" #precioP maxlength="10" (focus)="showNumber('precio', true)"
                            (focusout)="showNumber('precio', false)">
                        <label for="i_Precio_acce">Precio</label>
                        <div class="carateres-max"> <span *ngIf="listaDatosMostrar.precio"> {{precioP.value.length}} /
                                10</span></div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Otra información"
                        id="text_O_informacion_acc" formControlName="otra_inf" #otra_infP maxlength="300"
                        (focus)="showNumber('otra_inf', true)" (focusout)="showNumber('otra_inf', false)"></textarea>
                    <label for="text_O_informacion_acc">Otra información</label>
                    <div class="carateres-max"> <span *ngIf="listaDatosMostrar.otra_inf"> {{otra_infP.value.length}} /
                            300</span></div>
                </div>

                <span
                    *ngIf="this.validacionForm.get('existencia').errors?.required && this.validacionForm.get('existencia').touched">
                    La existencia del producto no puede estar vacio
                </span>

                <span
                    *ngIf="this.validacionForm.get('precio').errors?.required && this.validacionForm.get('precio').touched">
                    El precio del producto no puede estar vacio
                </span>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>


                <div class="group-buttons" *ngIf="editDatos==false">
                    
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    
                    <input type="submit" value="Editar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>
            </form>
        </div>
    </section>

    <div class="clearfix"></div>
    <ngx-ui-loader></ngx-ui-loader>

</main>

<app-footer [mostrarT_C]="false"></app-footer>