<div class="contenedor-detalle">
    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Incluye :</p>
            <p class="valueproducto">{{datos.incluye}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Numero :</p>
            <p class="valueproducto">{{datos.numero}}</p>
        </div>
    </div>    
</div>