<main class="containerForms">
    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'/negocio/lista-papeleria'" [tblName]="'papeleria'"> </app-nav-subheader>
    
    <section id="section_main">
        <app-lateral-admin></app-lateral-admin>

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm" (ngSubmit)="saveOrUpdate()">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_nombre_papeleria" placeholder="Nombre del producto"
                        formControlName="nombre" #nombreproducto maxlength="50" (focus)="showNumber('nombre', true)"
                        (focusout)="showNumber('nombre', false)">
                    <label for="text_nombre_papeleria">Nombre del producto</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.nombre"> {{nombreproducto.value.length}} / 50</span></div>
                </div>


                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción"
                        id="text_description_papeleria" formControlName="descripcion" #descripcionP
                        maxlength="300" (focus)="showNumber('descripcion', true)"
                        (focusout)="showNumber('descripcion', false)"></textarea>
                    <label for="text_description_papeleria">Descripción</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.descripcion"> {{descripcionP.value.length}} / 300</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Especificación"
                        id="text_especificacion_papeleria" formControlName="especificacion" #especificacionP
                        maxlength="200" formControlName="descripcion" #descripcionP
                        maxlength="300" (focus)="showNumber('especificacion', true)"
                        (focusout)="showNumber('especificacion', false)"></textarea>
                    <label for="text_especificacion_papeleria">Especificación</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.especificacion"> {{especificacionP.value.length}} / 200</span></div>
                </div>

                <div class="form-floating mb-3">

                    <input type="text" class="form-control" id="text_medidas_papeleria" placeholder="Medidas"
                        formControlName="medidas" #medidasP maxlength="50" formControlName="medidas" #descripcionP
                        maxlength="300" (focus)="showNumber('medidas', true)"
                        (focusout)="showNumber('descripcion', false)">
                    <label for="text_medidas_papeleria">Medidas</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.medidas"> {{medidasP.value.length}} / 50</span></div>
                </div>


                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_color_papeleria" placeholder="Color"
                        formControlName="color" #colorP maxlength="50" formControlName="descripcion" #descripcionP
                        maxlength="300" (focus)="showNumber('color', true)"
                        (focusout)="showNumber('color', false)">
                    <label for="text_color_papeleria">Color</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.color"> {{colorP.value.length}} / 50</span></div>
                </div>

                <label>Seleciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza">Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_Existencia_aba" placeholder="Existencia"
                        name="existencia" formControlName="existencia" #existenciaP maxlength="7" (focus)="showNumber('existencia', true)"
                        (focusout)="showNumber('existencia', false)">
                    <label for="text_Existencia_aba">Existencia</label>
                    <div class="carateres-max"><span *ngIf="listaDatosMostrar.existencia"> {{existenciaP.value.length}} / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10" (focus)="showNumber('precio_anterior', true)"
                            (focusout)="showNumber('precio_anterior', false)">
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span *ngIf="listaDatosMostrar.precio_anterior"> {{precio_anteriorP.value.length}} / 10</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio" name="precio"
                            formControlName="precio" #precioP maxlength="10" (focus)="showNumber('precio', true)"
                            (focusout)="showNumber('precio', false)">
                        <label for="text_Precio_aba">Precio</label>
                        <div class="carateres-max"> <span *ngIf="listaDatosMostrar.precio"> {{precioP.value.length}} / 10</span></div>
                    </div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Actualizar" class="btn btnAceptar"
                        [disabled]="validacionForm.invalid" />
                </div>

            </form>
        </div>
    </section>
    <div class="clearfix"></div>
</main>

<app-footer></app-footer>