<app-header></app-header>
<nav class="navbar navbar-light bg-light">
    <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="../../../assets/images/menu.svg" width="30px" height="30px">
        </button>
        <ul class="dropdown-menu menu-admin m-left-menu" aria-labelledby="dropdownMenuButton1">
            <div class="name-negocio">
                <h3>ADMINISTRADOR PRINCIPAL</h3>
            </div>

            <li>
                <a [routerLink]="['/administrador/datos']" class="dropdown-item p-admin-negocio p-2"> Mis datos </a>
            </li>
            <li>
                <a [routerLink]="['/administrador/lista-negocios']" class="dropdown-item p-admin-negocio p-2"> Lista de
                    negocios registrados </a>

            </li>
            <li>
                <a [routerLink]="['/administrador/lista-usuarios']" class="dropdown-item p-admin-negocio p-2"> Lista de
                    usuarios registrados </a>
            </li>
        </ul>

    </div>
</nav>

<section class="section_main">
    <app-lateral-administrador></app-lateral-administrador>
    <div class="container-formularios tamanio">
        <app-datos-administrador></app-datos-administrador>
    </div>
</section>

<app-footer [mostrarT_C]="false"></app-footer>