.container-header{
    width: 100%;
    background: var(--color_header);
    height: 70px;
    display: flex;
    justify-content: center;
    
}

.logo-aplication{ 
    width: 120px; 
    height: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.logo-aplication img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 4px;

}
.btn-next{
    background: #607d8b;
    color: white;
}

.btn-next:hover{
    color: white;
    border: 1px solid grey;
}
.a-terminos_y_condiciones:hover{
    background: none !important;
    color: var(--colo_textForm) !important;
}