.btn-next{
    background: #607d8b;
    color: white;
}

.btn-next:hover{
    color: white;
    border: 1px solid grey;
}
.a-terminos_y_condiciones:hover{
    background: none !important;
    color: var(--colo_textForm) !important;
}