.container-header{
    width: 100%;
    background: var(--color_header);
    height: 70px;
    display: flex;
    justify-content: center;
    
}

.logo-aplication{ 
    width: 120px; 
    height: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.logo-aplication img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 4px;

}
main{
    background: #f7f7f7;
    height: auto;
}

.contenedor-buttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*Estilos para los botones*/
.btn-login{
    width: 100% !important;
    height: 40px !important;
    margin: 5px;
    outline: none !important;
    cursor: pointer !important;
    text-decoration: none !important;
    border: 1px solid #c2c8d0;
    color: #2d333a;
    background: none;
}

.btn-iniciarSesion{
    background: var(--color_header) !important;
    
}

.btn-iniciarSesion:hover{
    background:rgb(245, 172, 56) !important;
    box-shadow: 2px 3px 11px 3px rgba(0,0,0,0.18);
    -webkit-box-shadow: 2px 3px 11px 3px rgba(0,0,0,0.18);
    -moz-box-shadow: 2px 3px 11px 3px rgba(0,0,0,0.18);
}

.btn-createCuenta:hover{
    background:#f1f2f3 !important;
   
}

.btn-login{
    display: flex;
    justify-content: start;
    align-items: center;

}

.btn-login span{
    margin-left: 15px;
    margin-right: 15px;
}

.a-terminos_y_condiciones{
    background: none !important;
    color: white;
    cursor: pointer;
}
.cursor{
    cursor: pointer !important;
}

/*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:568px){
    
    .mid-form{  
        transform: translate(0%,15%);
        padding: 40px !important;
        width: 75% !important;
    }

}

@media screen and (min-width:768px) and (max-width:1024px){   
    
     /* FORMULARIOS DE LOS NEGOCIOS */
    .mid-form-negocio{
        width: 100% !important;
    }
}