
main{
    background: #f7f7f7;
    height: auto;
}

.mid-form{
    width: 34% !important;
}

.contenedor-buttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-linea{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Estilos para los botones*/
.btn-login{
    width: 100% !important;
    height: 38px !important;
    margin: 5px;
    outline: none !important;
    cursor: pointer !important;
    text-decoration: none !important;
    border: none !important;
}
