/*--------------------COMPONENTE details-product----------------------
<!--SECTION DETAILS PRODUCT
------------------>*/
.producto_detalle {
    height: auto;
    width: 100%;
    min-height: 450px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
}
.o-producto{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.product-main{
    width: 100%;
    display: flex; 
}

.o-productoImage {
    padding: 1% 1% 1% 1%;
}
/*
.figure-main {
    display: flex;
    width: 100%;
    min-height: 400px;
    position: relative;
}

*/


.container-image_product {
    position: relative;
    max-height: 600px;
    flex-wrap: wrap;
}


/*DESCRIPTION PRODUCT*/
.o-producto_description {
    width: 100%;
    padding: 2% 2% 2% 0;
    margin-left: 10px;
}
.information_rating a:hover{   
    color:var(--color_textAutomatico) !important;
    background: none !important;
    cursor: pointer;
}
.h2-product-title {
    font: 20px/32px Roboto, "Helvetica Neue", sans-serif;
    color: #333;
    margin: 0 0 4px !important;
}

/*------------DIV information_rating */
.information_rating{
    display: flex;
}

.span-rating {
    font-size: 12px;
}

.div-raiting {
    width: 250px!important;
    display: flex!important;
    flex-flow: row wrap!important;
    justify-content: flex-start!important;
    margin: 2px;
}

.raiting-opinion{
    margin-top: 5px;
    margin-left: 10px;
    color: #767676;
}
.raiting-opinion a:hover{
    color: #767676 !important;
}

.product-price-promotion{
    font: 20px/32px Roboto, "Helvetica Neue", sans-serif;
    padding-right: 24px;
    position: relative;
}

.regular_price {
    font: 1rem Roboto, "Helvetica Neue", sans-serif;
    color: #929292;
    padding-right: 15px;
    position: relative;
    text-decoration: line-through;
}

.descuento-price {
    font: 1.5rem Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #D53333;
    padding-right: 24px;
    position: relative;
    width: auto;
}

.colores-product{
    margin-top: 5px;
    font-size: 14px;
    color: #484848;

}
.all-color_product{
    display: flex;
}
.list-color ul li{
    display: inline-block !important;
}

.list-color li{
    width: auto;
    color: #666;
    padding: 3px;
    text-align: center;
    margin: 3px;
    border: 1px solid #e5e5e5;   
    
}
p {
  margin-bottom: 0;
}
.product_talla{
    font-size: 14px;
    color: #484848;
}

.product_talla ul li{    
    display: inline-block !important;
    margin-bottom: 5px;
    margin-right: 6px;
    vertical-align: top;
}
.product_talla ul li button {
    font: 400 20px/32px Roboto, "Helvetica Neue", sans-serif;
    height: 35px;
    min-width: 60px;
    padding: 0 10px;
    width: auto;
    white-space: nowrap;
}

.li-btn_talla {
    background: #fff;
    font-size: 12px !important;
    color: #666;
    border: 1px solid var(--color_header);
    cursor: default;
}
.existencia{
    font: 16px Roboto, "Helvetica Neue", sans-serif;
    color: #666;
    display: flex;
    margin-top: 5px;
   
}
.existencia p{
    font-weight: 500;
}

.btn_share{
    background: white;
    border: none;
    font-size:13px;
    color: rgb(143, 141, 143);
}
.contenedor-compartir img{
    height: 21px;
    margin-right: 5px;
}
.btn_share:hover{
    cursor: pointer;
}

.m-left {
    margin-left: 5px;
}
/*CONTENEDOR DE DESCRIPCION Y DETALLE*/
.description{
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    color: #666;
    text-transform: capitalize;
    font-weight: 400;
}

.m-t{
    margin-top: 30px;
}

.container-bx{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 4px;
}

.padding-pd {
    padding-left: 39px;
    padding-right: 39px;
}

.margin-feat{
    display: flex;
    flex-direction: row;
}


/*==========*/
/*ENLACES DE BUSQUEDAS DE UN PRODUCTO-----------------------------------*/
.mb-enlaces{
    margin-top: 1rem
}
.enlaces-list {
    padding: 0;
}

.container-enlaces{
    background: #dfdede;
}
.enlaces-list li {
    display: inline-block;
    
}

.enlaces-list li a:hover{
    color:var(--color_textAutomatico) !important;
    background: none !important;
    cursor: pointer;
 
 }
 .a-enlaces-list{
     color: #333;
     font-size: 13px;
 }
 span.icon-arrow_right {
    font-size: 9px;
    margin-left: 1em;
    margin-right: .6em;
}


.componente-detalles-producto{
    width: 100%;
}

.pa0{
   padding-top: 10px;
}

/* div -----MAS INFORMACION DEL NEGOCIO-----*/
.div-inf_negocio{
    width: 20%;
    display: flex;
    padding-bottom: 0px;
}

.info-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;  
    align-items: center; 
    justify-content: center; 
}

.info-icon a{
    color: #212529 !important;
    font-weight: 500;
    margin-bottom: 0px;
    cursor: pointer !important;
    margin-bottom: 0px !important;
    
}

.info-icon a:hover{
   background: none !important;
   color: red !important;
   cursor: pointer !important;
}
figure {
    margin: 0 0 2px;
}
.info-icon figure img {
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}


/*CONTENEDOR DE PRODUCTOS SIMILARES*/
.contenedor-carousel{
    min-height: 320px;
}

/*
.marginTop {
    top: 15% !important;
    margin-top: -5px !important;

}
*/
.container-product-similar{
    width: 100%;
    height: 100%;
}

.item{
    display: flex;
    justify-content: center;
}

.item a {
    width: 100%; 
    height: 100%; 
}

.item a:hover{
    background: none !important;

}

.item figcaption p {
   color: #666;
   margin-bottom: 1px !important;

}

.precio{
    font-size: 14px;
    min-width: auto;
    max-width: 100%;
    color: #d53333 !important;
    font-weight: 600;
}


.description-productSimilar{
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: #666;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: auto;
    width: 100%;
}

/*producto similario ==> imagen , descripcion , precio*/
.contenido-img-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* div -----MAS INFORMACION DEL NEGOCIO-----*/
.div-inf_negocio{
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.info-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-icon a{
    color: #212529 !important;
    font-weight: 500;
    margin-bottom: 0px;
    cursor: pointer !important;
    margin-bottom: 0px !important;
    margin-right: 68px;
}

.info-icon a:hover{
   background: none !important;
   color: red !important;
   cursor: pointer !important;
}
figure {
    margin: 0 0 2px;
}
.info-icon figure img {
    width: 80px;
    height: 80px;
    padding: 5px;
}

/*ESTILOS ESTRELLA*/
.btn-star{
    background:white;
    border: none;
    color: #ffd458;
}

.mat-icon {
    height: 30px;
    width: 25px;    
}

.material-icons {
    font-size: 25px; 
}


/*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:568px){
    .producto_detalle {
        width: 100%;
        height: auto;
        min-height: 500px;
    }
    .o-producto{
        flex-direction: column !important;
    }

    .product-main{
        width: 100%;
        display: flex; 
        flex-direction: column;
    }

    .container-bx{
        display: flex;
        flex-direction: column;
    }

    .div-inf_negocio{
        width: 100%;

    }

    .info-icon {
        width: 100%; 

    }
}
