<app-header [mostrarBuscador]="true"></app-header>

<div id="__search">
    <div class="d-lg-block p-0">
        <div class="container-fluid container-enlaces">
            <div class="container">
                <div class="row p-0">
                    <div class="mb-enlaces">
                        <ul class="enlaces-list">
                            <li>
                                <a class="a-enlaces-list">Inicio</a>
                                <span>
                                    <i></i>
                                    <img src="../../../assets/images/arrow_right.svg">
                                </span>
                            </li>
                            <li>
                                <a class="a-enlaces-list">Inicio</a>
                                <span>
                                    <img src="../../../assets/images/arrow_right.svg">
                                </span>
                            </li>
                            <li>
                                <a class="a-enlaces-list">Inicio</a>
                                <span class="a-breadcrumb">
                                    <img class="icon-arrow_right" src="../../../assets/images/arrow_right.svg">
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--SECTION DETAILS PRODUCT-->
    <section class="container producto_detalle">

        <div class="o-producto">
            <main class="product-main">
                <div class="o-productoImage">
                    <figure class="figure-main">
                        <div class="all-image_product">

                        </div>
                        <div class="container-image_product">
                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
                            </ngx-gallery>
                        </div>
                    </figure>
                </div>

                <div class="o-producto_description">
                    <h2 class="h2-product-title">{{datosProducto.nombre}}</h2>
                    <div class="information_rating">
                        <fieldset>
                            <span class="span-rating">
                                <div class="div-raiting">
                                    <div>
                                        <a>
                                            <!--Icon de estrella despues de va a modificar-->
                                            <mat-icon>star_half</mat-icon>
                                        </a>
                                    </div>
                                    <div class="raiting-opinion">
                                        <a>8 opiniones</a>
                                    </div>
                                </div>
                            </span>
                        </fieldset>

                    </div>
                    <div class="product-price-promotion">
                        <div class="row">
                            <div class="col-12">
                                <p class="regular_price d-inline">{{datosProducto.precio_anterior | currency:'$/. '}}
                                </p>
                                <p class="descuento-price  d-inline ">{{datosProducto.precio | currency:'$/. '}}</p>
                            </div>

                        </div>
                        <div class="colores-product">
                            <div class="list-color">
                                <span>Colores disponibles:</span>
                                <ul>
                                    <li>
                                        <p>Rojo</p>
                                    </li>
                                    <li>

                                        <p>Azul</p>
                                    </li>
                                    <li>
                                        <p>Amarillo</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_talla">
                            <div class="row">
                                <p>Talla:</p>
                            </div>

                            <div class="row">
                                <div class="col-12 btb">
                                    <ul>
                                        <li>
                                            <button class="return li-btn_talla">
                                                CH
                                            </button>
                                        </li>

                                        <li>
                                            <button class="return li-btn_talla">
                                                M
                                            </button>
                                        </li>
                                        <li>
                                            <button class="return li-btn_talla">
                                                G
                                            </button>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="contenedor-compartir">
                            <button class="btn_share">
                                <img src="../../../assets/images/icono_share.png" />
                                Compartir
                            </button>

                        </div>

                    </div>
                </div>
            </main>
        </div>
    </section>

    <section class="container m-t container-bx">
        <div class="p-2">
            <div class="product-description">
                <p class="description">Descripción del producto </p>

                <p>
                    {{datosProducto.descripcion}}
                </p>
            </div>

            <hr class="mb-4">

            <app-detalle-abarrote class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'abarrote'"></app-detalle-abarrote>
            <app-detalle-alimento class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'alimento'"></app-detalle-alimento>
            <app-detalle-accesorio-movil class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'accesorio_movil'"></app-detalle-accesorio-movil>
            <app-detalle-bicicleta class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'bicicleta'"></app-detalle-bicicleta>
            <app-detalle-bodega class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'bodega'"></app-detalle-bodega>
            <app-detalle-cama class="componente-detalles-producto" [datos]="datosProducto" *ngIf="_nameTable == 'cama'">
            </app-detalle-cama>
            <app-detalle-carniceria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'carniceria'"></app-detalle-carniceria>
            <app-detalle-carpinteria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'carpinteria'"></app-detalle-carpinteria>
            <app-detalle-celulares class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'celulares'"></app-detalle-celulares>
            <app-detalle-cerrajeria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'cerrajeria'"></app-detalle-cerrajeria>
            <app-detalle-computadora class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'computadora'"></app-detalle-computadora>
            <app-detalle-construccion class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'construccion'"></app-detalle-construccion>
            <app-detalle-dentista class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'dentista'"></app-detalle-dentista>
            <app-detalle-farmacia class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'farmacia'"></app-detalle-farmacia>
            <app-detalle-ferreteria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'ferreteria'"></app-detalle-ferreteria>
            <app-detalle-fierro class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'fierro'"></app-detalle-fierro>
            <app-detalle-floreria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'floreria'"></app-detalle-floreria>
            <app-detalle-fotos class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'fotos'"></app-detalle-fotos>
            <app-detalle-fruteria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'fruteria'"></app-detalle-fruteria>
            <app-detalle-funeraria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'funeraria'"></app-detalle-funeraria>
            <app-detalle-herreria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'herreria'"></app-detalle-herreria>
            <app-detalle-hivernadero class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'hivernadero'"></app-detalle-hivernadero>
            <app-detalle-joyeria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'joyeria'"></app-detalle-joyeria>
            <app-detalle-licuadora class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'licuadora'"></app-detalle-licuadora>
            <app-detalle-microonda class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'microonda'"></app-detalle-microonda>
            <app-detalle-moto class="componente-detalles-producto" [datos]="datosProducto" *ngIf="_nameTable == 'moto'">
            </app-detalle-moto>
            <app-detalle-muebleria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'muebleria'"></app-detalle-muebleria>
            <app-detalle-optica class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'optica'"></app-detalle-optica>
            <app-detalle-papeleria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'papeleria'"></app-detalle-papeleria>
            <app-detalle-pintura class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'pintura'"></app-detalle-pintura>
            <app-detalle-plancha class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'plancha'"></app-detalle-plancha>
            <app-detalle-plomeria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'plomeria'"></app-detalle-plomeria>
            <app-detalle-refrigerador class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'refrigerador'"></app-detalle-refrigerador>
            <app-detalle-relojeria class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'relojeria'"></app-detalle-relojeria>
            <app-detalle-ropas class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'ropas'"></app-detalle-ropas>
            <app-detalle-servicios class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'servicios'"></app-detalle-servicios>
            <app-detalle-tela class="componente-detalles-producto" [datos]="datosProducto" *ngIf="_nameTable == 'tela'">
            </app-detalle-tela>
            <app-detalle-television class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'television'"></app-detalle-television>
            <app-detalle-veladora class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'veladora'"></app-detalle-veladora>
            <app-detalle-zapatos class="componente-detalles-producto" [datos]="datosProducto"
                *ngIf="_nameTable == 'zapatos'"></app-detalle-zapatos>


            <!--SECCION DE COMENTARIOS
            1.-Ver los comentarios del producto 
            2.-Escribir tu comentario-->
        </div>
    </section>

    <section class="container m-t container-bx">
        
        <p class="description pa0">Opiniones del producto</p>

        <app-comentario-producto [_idnegocio]="_idnegocio" [_nameTable]="_nameTable" [_idproducto]="_idproducto" [listaComentarios] = "datosProducto.comentarios"></app-comentario-producto>

        <div class="div-inf_negocio">
            <div class="info-icon">
                <a (click)="irPerfilNegocio()">
                    <figcaption>
                        <p>Ver información del negocio</p>
                    </figcaption>
                </a>
            </div>
        </div>
    </section>

    <!--<app-section-more-details [listaDescripcion]="listaDescripcion"></app-section-more-details>-->
</div>

<section class="container m-t container-bx">
    <p class="description pa0" >Productos similares</p>
    <carousel class="contenedor-carousel" *ngIf="listProductsRelacionadosImage!=undefined">

        <div class="carousel-cell" *ngFor="let data of listProductsRelacionadosImage">
            <div class="container-product-similar" >
                <div class="item" (click) = "productoSimilarSeleccionado(data._id , data.data._id , data.nameTable)">
                    <a>
                        <figure class="contenido-img-description" >
                            
                            <img src="{{data.imagen}}" *ngIf = "data.imagen!=null">
                            <img src="../../../assets/images/sin-imagen.png" *ngIf = "data.imagen==null">
                            <figcaption class="d-flex flex-column">
                                <p class="description-productSimilar">{{data.data.nombre}}</p>
                                <p class="precio">{{data.data.precio | currency:'$/. '}}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

    </carousel>
    <!--
        <img style="height: 90%;" src="../../../assets/images/abarrotes.jpg">
            <p>Blusa Shein</p>

            <div style="background: rebeccapurple !important;" class="carousel-cell">
            <figure style="background: red !important;" class="card-figure">
                <img  src="../../../assets/images/zapatos.jpg">
                <figcaption>
                    <p>Legging MAP negro </p>
                    <p>$ 200 </p>

                </figcaption>
            </figure>

        </div> 
    -->
</section>

<section class="container m-t container-bx">

</section>


<app-footer></app-footer>