<main>
    <app-header></app-header>
    <app-nav-subheader [ruta_link]="'tbl-ropa'" [tblName]="'ropa'"> </app-nav-subheader>
    <app-lateral-admin></app-lateral-admin>

    <section id="section_main">

        <div class="container-formularios">

            <div class="mid-form-negocio btn-uploadImage" *ngIf="editDatos">
                <div class="div-upload">
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%
                        </div>
                    </div>

                    <label class="btn-default">
                        <!--[disabled]="!selectedFiles" CAMBIO-->
                        <input type="file" [disabled]="!selecImage" (change)="selectImage($event)">
                    </label>

                    <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadImage()">Subir
                        imagen</button>
                </div>

                <div class="contenedor-img" #contenedorImg>

                </div>
            </div>

            <form class="mid-form-negocio" [formGroup]="validacionForm">

                <h3 class="subheader">{{titlePage}}</h3>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_nombre_ropa" placeholder="Nombre del producto"
                        formControlName="nombre" #nombreproducto maxlength="100">
                    <label for="text_nombre_ropa ">Nombre del producto</label>
                    <div class="carateres-max"><span> {{nombreproducto.value.length}} / 100</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_tipo_ropa" placeholder="Tipo de ropa"
                        formControlName="tipo_ropa" #tipo_ropaP maxlength="50">
                    <label for="text_tipo_ropa">Tipo de ropa</label>
                    <div class="carateres-max"><span> {{tipo_ropaP.value.length}} / 50</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form" placeholder="Descripción" id="text_descr_ropa"
                        formControlName="descripcion" #descripcionP maxlength="300"></textarea>
                    <label for="text_descr_ropa">Descripción</label>
                    <div class="carateres-max"><span> {{descripcionP.value.length}} / 300</span></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control tamanio_textarea-form_OInfo" placeholder="Detalles"
                        id="text_detalle_ropa" formControlName="detalle" #detalleP maxlength="200"></textarea>
                    <label for="text_detalle_ropa">Detalles</label>
                    <div class="carateres-max"><span> {{detalleP.value.length}} / 200</span></div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_marca_ropa" placeholder="Marca"
                        formControlName="marca" #marcaP maxlength="50">
                    <label for="text_marca_ropa">Marca</label>
                    <div class="carateres-max"><span> {{marcaP.value.length}} / 50</span></div>
                </div>

                <label>Seleciona la unidad de venta</label>
                <div class="form-floating mb-3">
                    <select id="select_UV_aba" class="form-select form-select-sm colorSeleccion"
                        aria-label=".form-select-sm example" name="unidadventa" formControlName="unidadventa">
                        <option value="Pieza">Pieza</option>
                        <option value="Par">Par</option>
                        <option value="Docena">Docena</option>
                        <option value="Caja">Caja</option>
                        <option value="Paquete">Paquete</option>
                        <option value="Gramo">Gramo</option>
                        <option value="Kilogramo">Kilogramo</option>
                        <option value="Litro">Litro</option>
                        <option value="Mililitro">Mililitro</option>
                        <option value="Metro">Metro</option>
                        <option value="Kit">Kit</option>
                    </select>
                </div>

                <label class="form-label" style="margin-bottom: 3px; margin-left: 15px;">Ropa para</label>
                <div class="container-linea-n">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked1" name="genero" value="Hombre"
                            formControlName="genero">
                        <label class="form-check-label" for="flexCheckChecked1">
                            Hombre
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked2" name="genero" value="Mujer"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked2">
                            Mujer
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked3" name="genero" value="Niños"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked3">
                            Niños
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked4" name="genero" value="Niñas"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked4">
                            Niñas
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexCheckChecked5" name="genero" value="Bebes"
                            formControlName="genero" />
                        <label class="form-check-label" for="flexCheckChecked5">
                            Bebes
                        </label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="text_Existencia_aba" placeholder="Existencia"
                        name="existencia" formControlName="existencia" #existenciaP maxlength="7">
                    <label for="text_Existencia_aba">Existencia</label>
                    <div class="carateres-max"><span> {{existenciaP.value.length}} / 7</span></div>
                </div>

                <!--FECHAS DE PROMOCION-->
                <mat-form-field class="example-form-field mb-0" appearance="fill">
                    <mat-label>Fecha de promoción Inicio-Fin</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Fecha inicio" formControlName="start">
                        <input matEndDate placeholder="Fecha final" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <!---->

                <div class="contenedor-linea">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio anterior"
                            name="precio" formControlName="precio_anterior" #precio_anteriorP maxlength="10"/>
                        <label for="text_Precio_aba">Precio anterior</label>
                        <div class="carateres-max"><span> {{precio_anteriorP.value.length}} / 7</span></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="text_Precio_aba" placeholder="Precio" name="precio"
                            formControlName="precio" #precioP maxlength="10"/>
                        <label for="text_Precio_aba">Precio</label>
                        <div  class="carateres-max"> <span> {{precioP.value.length}} / 10</span></div>
                    </div>
                </div>

                <!--TALLAS DEL PRODUCTO-->
                <div class="alert alert-info" role="alert" *ngIf="messageForEmptyTalla">
                    {{messageForEmptyTalla}}
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control input-talla" id="text_talla_ropa" placeholder="Talla"
                        #txtTalla formControlName="talla"  maxlength="15">
                    <label for="text_talla_ropa">Talla</label>
                    
                    <button type="button" class="btnAgregarT btn-agregar position-div"
                        (click)="addTall()">Agregar</button>

                    <div class="contenedor-tallas position-div" #contenedorTallas>
                        <!--SE CREAN LOS BOTONES-->
                        <button class="btn-tallas" (click)="deleteTallaMongodb(talla)"
                            *ngFor="let talla of listaTallas">
                            {{talla['talla']}}
                        </button>
                        <div  class="carateres-max"> <span> {{txtTalla.value.length}} / 15</span></div>

                    </div>

                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>

                <!--COLOR DEL PRODUCTO-->
                <div class="alert alert-info" role="alert" *ngIf="messageForEmptyColor">
                    {{messageForEmptyColor}}
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control input-talla" id="text_color_ropa" placeholder="Color"
                        #txtColor formControlName="color" maxlength="50">
                    <label for="text_color_ropa">Color</label>

                    <button type="button" class="btnAgregarT btn-agregar position-div"
                        (click)="addColor()">Agregar</button>

                    <div class="contenedor-tallas position-div" #contenedorColores>
                        <!--SE CREAN LOS BOTONES-->
                        <button class="btn-tallas" (click)=" deleteColorMongodb(color)"
                            *ngFor="let color of listaColores">
                            {{color['color']}}
                        </button>
                    </div>
                    <div  class="carateres-max"> <span> {{txtColor.value.length}} / 50</span></div>

                    <!--LIMPIAR FLOTADOS-->
                    <div class="clearfix"></div>
                </div>

                <!--LIMPIAR FLOTADOS-->
                <div class="clearfix"></div>

                <div class="group-buttons" *ngIf="editDatos==false">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btnAceptar" [disabled]="validacionForm.invalid"
                        (click)="saveOrUpdate()" />
                </div>

                <div class="group-buttons" *ngIf="editDatos">
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <input type="submit" value="Actualizar" class="btn btnAceptar" [disabled]="validacionForm.invalid"
                        (click)="saveOrUpdate()" />
                </div>
            </form>
        </div>

    </section>
    <div class="clearfix"></div>
</main>

<app-footer></app-footer>