<div class="container-sidebar">
    <aside id="sidebar">
        <div class="sidebar-item">

            <h3>ADMINISTRADOR PRINICPAL</h3>

            <div>
                <img src="{{logoNegocio}}" *ngIf="logoNegocio" width="150px" height="150px">
                <h5>LOGO DE LA PLATAFORMA</h5>
            </div>

            <div class="list-group list-group-flush">

                <a [routerLink]="['/administrador/datos']" class="p-admin-negocio"> Mis datos </a>
                <a [routerLink]="['/administrador/lista-negocios']" class="p-admin-negocio" > Lista de negocios registrados </a>
                <a [routerLink]="['/administrador/lista-usuarios']" class="p-admin-negocio" > Lista de usuarios registrados </a>

            </div>
        </div>
       
    </aside>
</div>

