<div class="contenedor-detalle">
    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Ancho :</p>
            <p class="valueproducto">{{datos.ancho}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Alto :</p>
            <p class="valueproducto">{{datos.alto}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Profundidad :</p>
            <p class="valueproducto">{{datos.profundidad}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Filtro de agua :</p>
            <p class="valueproducto">{{datos.filtro_agua}}</p>
        </div>
    </div>

    <div class="product-more-details">
        <div class="product-atributo-valor">
            <p class="titleproducto">Peso del refrigerador :</p>
            <p class="valueproducto">{{datos.peso}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Acabado :</p>
            <p class="valueproducto">{{datos.acabado}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Material :</p>
            <p class="valueproducto">{{datos.material}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Luz interior :</p>
            <p class="valueproducto">{{datos.luz_interior}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Voltaje :</p>
            <p class="valueproducto">{{datos.voltaje}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Control de humedad :</p>
            <p class="valueproducto">{{datos.control_humedad}}</p>
        </div>
    </div>

    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Numero de puertas :</p>
            <p class="valueproducto">{{datos.no_puertas}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Despachador de agua :</p>
            <p class="valueproducto">{{datos.despachador_agua}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Compartimientos :</p>
            <p class="valueproducto">{{datos.compartimientos}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Unidad de venta :</p>
            <p class="valueproducto">{{datos.unidadventa}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Garantia :</p>
            <p class="valueproducto">{{datos.garantia}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Otra información :</p>
            <p class="valueproducto">{{datos.otra_inf}}</p>
        </div>
    </div>

</div>