<div class="contenedor-detalle">
    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Motor :</p>
            <p class="valueproducto">{{datos.descrip_motor}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Marca :</p>
            <p class="valueproducto">{{datos.marca}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Transmisión :</p>
            <p class="valueproducto">{{datos.transmision}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Potencia Máximo :</p>
            <p class="valueproducto">{{datos.potencia_max}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Torque máximo :</p>
            <p class="valueproducto">{{datos.torque_max}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Peso máximo de carga :</p>
            <p class="valueproducto">{{datos.peso_maxCarga}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Peso de la moto :</p>
            <p class="valueproducto">{{datos.peso_moto}}</p>
        </div>
    </div>

    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Refrigeración :</p>
            <p class="valueproducto">{{datos.refrigeracion}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Bateria :</p>
            <p class="valueproducto">{{datos.bateria}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Suspensión trasera :</p>
            <p class="valueproducto">{{datos.suspen_Trasera}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Suspensión delantera :</p>
            <p class="valueproducto">{{datos.suspen_delantera}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Llanta trasera :</p>
            <p class="valueproducto">{{datos.llanta_trasera}}</p>
        </div>

        <div class="product-atributo-valor">
            <p class="titleproducto">Llanta delantera :</p>
            <p class="valueproducto">{{datos.llanta_delantera}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Ancho :</p>
            <p class="valueproducto">{{datos.ancho}}</p>
        </div>

    </div>

    <div class="product-more-details">

        <div class="product-atributo-valor">
            <p class="titleproducto">Altura :</p>
            <p class="valueproducto">{{datos.altura}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Año de modelo :</p>
            <p class="valueproducto">{{datos.anio_modelo}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Capacidad del tanque :</p>
            <p class="valueproducto">{{datos.capacidad_tanque}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Cilindraje :</p>
            <p class="valueproducto">{{datos.cilindraje}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Color :</p>
            <p class="valueproducto">{{datos.color}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Garantia :</p>
            <p class="valueproducto">{{datos.garantia}}</p>
        </div>
        <div class="product-atributo-valor">
            <p class="titleproducto">Otra información :</p>
            <p class="valueproducto">{{datos.otra_inf}}</p>
        </div>
    </div>
</div>