/*ASIDE ---LINEA DE NEGOCIO-PRODUCTO*/
.section-filter{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }
 .section-filter label{
    font-size: 13px;
    color: #6b6b6b;
    font-weight: 600;
    margin-bottom: 4px !important;
 }
 
 .form-check label {
    font-size: 14px;
    color: #666 !important;
 }
 .searchFilter{
    width: 95%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    text-decoration: none;
    outline: none;
    background: none !important;
    color: #666;
    font-size: .95em;
    text-indent: 8px;
   
 }
 
 .searchFilter:focus{
    border-radius: 3px;
 }
 .btn-search{
    background: none !important;
    outline: none;
    border: 1px solid #ced4da;
    font-size: 100%;
    width: 40%;
    padding: 1%;
 }
 .btn-search:hover{
    background: #f1f2f3 !important;
 }

 /*Mediaqueries*/
@media screen and (min-width:320px) and (max-width:568px){
   .searchFilter{
      width: 100% !important;     
   }

}
 
 